[2015-11-23 12:33] Neftedollar opened #20 "what is area-coords type?"
subj

[2015-11-23 13:37] CrackerakiUA commented on #20
I guess it's where should crop start position, but i am not sure. I will check when i catch it.

[2015-11-23 14:30] Neftedollar commented on #20
it'll be great.With area-coods users will be able to use https://github.com/jwagner/smartcrop.js/

[2015-11-23 14:51] CrackerakiUA commented on #20
Interesting.

[2015-11-23 16:56] tbrownMT opened #21 "Rectangle crop and results dimensions"
When using rectangle crop and I don't specify a result-image-size, the resulting rectangle is 200x200. If the crop area is truly a rectangle (w != h), this result includes whitespace.

My html:

`<img-crop image="origImage" result-image="croppedImage" area-type="rectangle" chargement="'Loading'" result-image-quality="1.0" ></img-crop>`

How can I force the component to use the crop rectangle dimen

[2015-11-23 18:12] crazy8brown commented on #21
A little bit more. I'm able to work around this because I know the specific width and height I want the resulting rectangle to be, and I can enforce the rectangle aspect ratio.  However, I would think that the default "size" for a rectangle should be the rectangle w/h relative to the original image size.

[2015-11-23 20:26] CrackerakiUA commented on #21
As far as i remember, default is square. Correct me if i am wrong.

[2015-11-24 18:18] crazy8brown commented on #21
The default result-image-size is indeed a square (200x200).  However, for a rectangular crop (area-type=rectangle) that isn't 200x200, you image will be padded or resized to fit into the 200x200 area.  Let's say your rectangle is 200x100.  The bottom half of your resulting image will be white.

I would think that by default, if the result-image-size attribute isn't specified for area-type= rectang

[2015-12-01 15:21] evdoks opened #24 "Initial size of the crop area"
In my use case the initial size of the cropping area must as large as possible: depending on the size of the image and aspect ration, either width or height should span the whole dimension of the image.

Currently it is a minimum of  one half of the corresponding dimension or `200` (`resetCropHost()` in `crop-host.js`):
[code]

It might be useful to introduce a parameter (e.g., `initCropSize` betw

[2015-12-01 20:25] tbrownMT opened #25 "Mobile Safari issue"
Has anyone seen an issue when trying to use the live demos from a mobile device, specifically from iPhone/Safari or Chrome?  When I select an image from my camera roll, the app hangs on the loading message. I've replicated this with my own app on a mobile (works fine on desktop Chrome emulating a mobile device).  I'm not sure how best to try and debug the issue, outside of simply saying it doesn't

[2015-12-01 20:31] CrackerakiUA commented on #25
Do you trying this from webpage or something like phonegap?

[2015-12-02 01:31] keyCat opened #26 "Result image format option being overriden"
Hello. I tried to change a result image format via `result-image-format` attribute to an 'image/jpeg' and discovered that an image format always stays as 'image/png'. I believe, this issue comes from the parent of the fork (ngImgCropExtended). Crop host function `setResultImageFormat` [is used](https://github.com/CrackerakiUA/ngImgCropFullExtended/blob/master/source/js/ng-img-crop.js#L144) for set

[2015-12-02 02:28] #26 closed

[2015-12-02 02:42] CrackerakiUA commented on #24
Why do you need this access? Which is the problem with the way you build it `theArea.setSize({
    w: Math.min(200, cw * initCropSize),
    h: Math.min(200, ch * initCropSize)
});`

[2015-12-02 14:07] crazy8brown commented on #25
From a webpage.  If you point a mobile browser to one of your demo sites, you can replicate the behavior.   I tried it on this: http://codepen.io/Crackeraki/full/XmEdPx/  Thanks for looking into this.

[2015-12-03 09:59] Molnfront opened #28 "Error: [$parse:syntax] result-image-format="{}""
Hi,
I tried to switch from alexk111 ngImgCrop version to yours so I can crop with rectangle. But then result-image-format stops working if I set a dynamic variable like this: result-image-format="{format}". It works in alexk111 latest ngImgCrop.

I have tried both with result-image-format="{format}" and result-image-format="{{format}}"

Error Parse Syntax: Syntax Error: Token '}' is unexpected, ex

[2015-12-03 11:34] CrackerakiUA commented on #28
ok i see your point, here is how it should be http://codepen.io/Crackeraki/pen/GoKepX
but again, result is png, i will check it.

[2015-12-03 11:34] CrackerakiUA commented on #28
it will work with `$scope.format`, just use it this way: `result-image-format="format"`. But again, i need to fix this first.

[2015-12-03 14:11] Molnfront commented on #28
Yes, I imagined it should work as alexk111 ngImgCrop version. Also result-image-size="{w:600, h:600}" works as expected in your version so I think it was a bit strange when it wasn't working with variables in result-image-format.

I also tried with $scope.format = "image/jpeg" and in the html: result-image-format="format" but it will not get converted to a variable.

[2015-12-03 14:15] Molnfront commented on #28
I will give my users the possibility to choose if they would like to crop the picture or not with a little checkbox. I am looking to build a more flexible solution with angularjs and fabric.js in the future.

[2015-12-03 15:54] CrackerakiUA commented on #28
I will fix this as soon as possible.

[2015-12-03 19:57] thetathaurus opened #29 "Version 0.4.5 minified version differs from non-minified version"
Hi,
the previous fix from version 0.4.4 to 0.4.5 (crop selection stops at invisible border on portrait oriented images) is not included within the minified version. Could you rebuild and release again?

in t.prototype._preventBoundaryCollision

i.y+a>r&&(i.y=r-a))
should be
i.y+a>t&&(i.y=t-a))

Thanks

[2015-12-04 01:34] CrackerakiUA commented on #29
I am not sure where is that, can you show me in which merge we had this?

[2015-12-04 06:13] thetathaurus commented on #29
It was the merge from "Nov 30, 2015": Hash 8574a3c8716c2e233b2442e535455ba4d141cfb6.
The unminified version is fine, but the minified one has the problem.

[2015-12-04 12:54] keyCat commented on #29
Hi

The current version of `master` branch should include the aforementioned fix in a minified version. However, it is not possible to get this version via Bower (needs tagging?), but you can use this in your `bower.json` as temporary solution for the time being:

[code]

It will point Bower to commit 0bffb754aee910c122dc7052d22f8961ebf301cc which has rebuilt sources.
Hope that helps.

[2015-12-04 20:47] thetathaurus commented on #29
great, thanks for your response

[2015-12-04 20:47] #29 closed

[2015-12-04 21:15] CrackerakiUA commented on #29
i will update bower today.

[2015-12-06 19:59] ksr583 opened #31 "Error on image load"
Error: [$compile:nonassign] Expression 'undefined' used with directive 'imgCrop' is non-assignable!

The directive is being used as such:

[code]

My even handler is as such:

[code]

Any ideas on this?

[2015-12-07 08:38] CrackerakiUA commented on #31
hmmm, do you have this code in some kind of modal?

[2015-12-07 22:55] ksr583 commented on #31
Yes I do

[2015-12-07 22:57] CrackerakiUA commented on #31
Try to use small timeout

[2015-12-08 06:18] ksr583 opened #33 "Not Working in IE11 or Edge"
I'm having an issue getting this to work in IE11 or Edge. I know it's not the library itself, because the demo works fine in both. The only thing I can think of is that I'm not using a raw <input> to let the user select a file, but rather I have a button with a click listener that programmatically triggers the click on the input to bring up the browse file interface. Is that likely the issue? Does

[2015-12-08 06:55] ksr583 commented on #31
Ok tried that with no luck. I also tried it on a blank template with no modal or anything. If it helps, the error is replicated any time I resize the photo, and the cropping and production of the resultImage still works. Really weird. I filed another ticket about the cropper not working in the app on IE11 or Edge, and I just can't help but wonder if these issues aren't related somehow. I have no i

[2015-12-08 09:01] CrackerakiUA commented on #31
Can you see this issue in codepen example?

[2015-12-08 09:06] CrackerakiUA commented on #33
we all use button to upload the image :) I have tested on both and it is working on my side, can you show us simple demo on codepen so we can check?

[2015-12-10 08:19] laxu commented on #21
I agree that it's non-obvious behavior, you should end up with a picture relative to the size of the rectangle drawn. Being able to have the result image size be based on the source image would not be a bad idea either. So for example if you upload a very large image then you can crop a portion of it and still have a large image in the output.

[2015-12-10 16:38] evdoks commented on #24
Well, because if I want to control it via a parameter, the parameter will be attached to the scope.

[2015-12-14 08:20] alsosweet opened #34 "It seems not working for me when the Base64 contains charset=utf-8"
$scope.myImage='data:image/*;charset=utf-8;base64,iVBORw0K.....

[2015-12-14 09:34] BabysbreathJJ opened #35 "result-image-size problem"
When I use two img-crop in one page, I found that the last img-crop's result-image-size's value will cover the first one's. Even though the two different imge-crop use the different controllers. How can I solve this problem?
Thanks.

[2015-12-15 01:48] CrackerakiUA commented on #34
can you ceate codepen with your base64?

[2015-12-15 01:49] CrackerakiUA commented on #35
Please create a codepen with your problem so i can help you in more details.

[2015-12-15 09:29] alsosweet commented on #34
http://codepen.io/alsosweet/pen/dGoWdy

it's ok when remove "charset=utf-8",but my raw data contains it

[2015-12-15 09:37] adam-showtime commented on #35
Same issue here. Lots of data is overwritten by the last imgcrop on the page. aspect-ratio,url-blob,result-image-size

[2015-12-15 14:09] CrackerakiUA commented on #34
Ok, great, i will fix this in next days. I will reply here when it's fixed.

[2015-12-15 14:10] CrackerakiUA commented on #35
Can you create codepen sample for this issue?

[2015-12-16 03:35] jingjlii commented on #35
I have created codepen: http://codepen.io/BabysbreathJJ/pen/EPPovy
The aspect-radio are different in the two image crop areas. But the result images' size are all used the last defined one. Please help me to solve this problem.  Thank you very much!

[2015-12-16 13:25] CrackerakiUA commented on #35
![screenshot 2015-12-16 15 23 32](https://cloud.githubusercontent.com/assets/6815721/11841946/2ba1edce-a409-11e5-945a-483c21334289.png) i have something like this in your codepen, can you explain why this is wrong? I am testing i on chrome + windows 10

[2015-12-16 13:29] jingjlii commented on #35
You can save the first result image and view it on your computer. The right side is filled with white background. Its width is equals with the second result picture.  I am on chrome + MacOS 10.10.5

[2015-12-16 14:01] BabysbreathJJ commented on #35
[ng-image.docx](https://github.com/CrackerakiUA/ngImgCropFullExtended/files/64056/ng-image.docx)

[2015-12-16 14:05] jingjlii commented on #35
![6 pic](https://cloud.githubusercontent.com/assets/6993633/11842780/c4b11bc0-a440-11e5-8ece-f6541eee34cf.jpg)
![1](https://cloud.githubusercontent.com/assets/6993633/11842790/e5a5d4f6-a440-11e5-9ac8-0c90fde4eb10.png)

In the developer’s tool, when I select the first result image, it shows in the ng-src that the picture’s size is equal to the second cropped result size. But I want to save a specif

[2015-12-16 14:42] CrackerakiUA commented on #35
I will try it on mac in one hour. On windows i don't see this issue.

[2015-12-16 14:48] CrackerakiUA commented on #35
Tested on El Capitan and Mavericks with Chrome 47, everything looks ok.

[2015-12-16 15:27] adam-showtime opened #38 "portrait from a device"
Hi,
Im having problems when i try to use a image that is portrait and a large size.

[2015-12-17 03:20] BabysbreathJJ commented on #35
I found it's because I use the related JS file downloading by bower in my project.  When I change the url address it seems everything ii's OK. I don't know why.
<script src="bower_components/ngImgCropFullExtended/ngImgCropFullExtended-0.4.7/compile/minified/ng-img-crop.js"></script>
<script src="https://rawgit.com/CrackerakiUA/ngImgCropFullExtended/dev/compile/minified/ng-img-crop.js"></script>

[2015-12-17 03:25] jingjlii commented on #35
I found when I use the url https://rawgit.com/CrackerakiUA/ngImgCropFullExtended/dev/compile/minified/ng-img-crop.js
Everything is OK.

But when I use the file downloading using bower the bug show again.
Do you change something in the https://rawgit.com/CrackerakiUA/ngImgCropFullExtended/dev/compile/minified/ng-img-crop.js file?

[2015-12-17 17:42] Mykytyuk opened #39 "result-image-quality"
Changing the value does not result.Partially changing sharpness and color saturation.

[2015-12-17 18:00] CrackerakiUA commented on #38
can you add image which you use and codepen on which you use it.

[2015-12-17 19:17] ksr583 commented on #33
Turns out this was an angular version issue. Upgrading to 1.4.7 fixed it. Thanks!

[2015-12-17 19:17] #33 closed

[2015-12-17 19:17] ksr583 commented on #31
Turns out this was an angular version issue. Upgrading to 1.4.7 fixed it. Thanks!

[2015-12-17 19:17] #31 closed

[2015-12-18 09:19] adam-showtime commented on #38
![img_1834](https://cloud.githubusercontent.com/assets/13849212/11893437/7a149352-a568-11e5-869e-e84b7e74b80d.JPG)

use this file

[2015-12-19 02:54] DallanQ commented on #24
+1 This is a _terrific_ library - thank you! It would be really nice if I could set the initCropSize as a parameter.

[2015-12-19 08:39] DallanQ commented on #24
There appears to be one more change that needs to be made, in addition to theArea.setSize change mentioned above. I also had to change the theArea.setCenterPoint call in the setMaxDimensions function to

[code]

for an initCropSize of 1. If I don't do this, the initial crop size is reduced in the setCenterPoint call. My change is clearly a hack(TM), but I'm not sure what the correct change is.

[2015-12-19 09:32] DallanQ opened #40 "need to cancel pending $timeout in certain situations"
I'm using ngImgCropFullExtended inside an ng-file-upload directive following [this example](http://jsfiddle.net/xxo3sk41/1/) so I can crop images prior to upload. It's generally working well, but I have found that when the user pastes an image from the clipboard into the ng-file-upload directive, and later pastes a _different_ image, the `image` attr is updated twice: once with an empty value, and

[2015-12-20 18:23] 9mm commented on #24
Darn I need this too. I tried to do this with area-min-size but when the cropper loads it doesnt load the minimum size, so I can't use that as a workaround.

Is there anyway to do this without forking it?

[2015-12-20 18:26] 9mm commented on #24
It looks like area-coords could do it, but it's not even in the original codebase?

[2015-12-20 18:30] CrackerakiUA commented on #24
Need to check it out. If in original it is working normally, i am pretty sure i can fix it quickly.

[2015-12-20 18:36] 9mm commented on #24
that would be amazing. PS I found the original area-coords, I didn't notice github doesnt let you search on forked repos... Either way, I still am not quite sure how to use area-coords or if that even helps.

Really I just want to set it on the max size immediately as the cropper loads. `area-coords="{w: 500, h: 500}"`

[2015-12-20 18:46] CrackerakiUA commented on #24
best would be `area-coords="'max'"`, that will help cases where we can aspect ratio

[2015-12-20 18:46] 9mm commented on #24
yes, that would be amazing.

[2015-12-20 19:25] DallanQ commented on #24
Agreed

[2015-12-23 02:33] hughred22 opened #42 "Cropped result image sometime has white vertical line or horizontal line added..."
So this is happen randomly. When I move the crop area, it will sometime generate a white vertical or horizontal line. The whiteline is not just a dispaly problem. It will be saved into the result image and uploaded to my server. So it is destroying the image. Anyway to fix this?

Here is my code:

[code]

[2015-12-23 02:52] hughred22 commented on #42
Also, result-image-format='image/jpeg' is not working as well. As you see my code set this up but the result image is still PNG.

Thanks!

[2015-12-30 14:16] vinimendes3 opened #44 "Lag on the screen when Mouse Down"
When I'm moving the selected area over the screen, it runs smoothly, but only when I release the cursor it takes a little time to re-rerun.

Can I do something to remove this lag?

![lag_ng_img_crop](https://cloud.githubusercontent.com/assets/3437722/12051772/21896682-aeef-11e5-8167-1ada0d8ec527.gif)

[2016-01-05 08:16] xJoshx commented on #25
This happens in Safari desktop version too. Any solution?

[2016-01-05 14:54] karensg opened #45 "Size of the crop is much higher than of the original"
Hi,

Thanks a lot for your great library. Extremely useful.
I am wondering why the size of the cropped image is much bigger than of the original one.
Both images have the width of 1200px.

[code]

The original image:
https://s3-eu-west-1.amazonaws.com/pluggd-nl/public/artists/980191014/fotos/m6vfaKhXZa

The cropped image:
https://s3-eu-west-1.amazonaws.com/pluggd-nl/public/artists/980191014/fotos/

[2016-01-05 16:14] CrackerakiUA commented on #45
I will be active in 10 days. Meanwhile you can add codepen with options you used for those two images.

[2016-01-06 08:18] mavrick commented on #45
@karensg from what I can see, the resized image is png and the original image is jpg.

You can confirm this in the response headers of the request.

See https://github.com/CrackerakiUA/ngImgCropFullExtended#result-image-format

The default output is `image/png`

[2016-01-06 08:27] karensg commented on #45
How stupid of me. I copied it from another page where the crop is done with a blob. This one uses the url to the image. Thanks a lot, @mavrick

[2016-01-06 08:27] #45 closed

[2016-01-07 13:33] gr7egor7 opened #46 "Custom crop border layout"
I would be great if we could define different style of  cropping border. For example I wouldn't like to have circle in the square corners or I would like to change border colour.

[2016-01-07 21:32] CrackerakiUA commented on #46
Yeah. sounds cool.

[2016-01-12 13:44] CrackerakiUA opened #48 "Angular 2.0"
I believe this plugin must be made in angular 2.0 too. I am planing to recreate it or add code to this project branch, when angular 2 get the release. Is there someone who are interesting in this?

[2016-01-12 17:19] pgiragossian opened #49 "Could you add this to npm ?"

[2016-01-13 11:48] CrackerakiUA commented on #49
hmmm, sound cool, yes i will add it as soon as possible.

[2016-01-13 12:20] karensg commented on #24
+1

[2016-01-21 02:30] CrackerakiUA commented on #39
looks to work, can you retest?

[2016-01-21 03:05] CrackerakiUA commented on #34
please fix the regex for your data url, which will work for dataurl without charset. The function is here https://github.com/CrackerakiUA/ngImgCropFullExtended/blob/master/source/js/classes/crop-exif.js#L307
but you can drop the regex here and i will implement it.

[2016-01-21 03:13] CrackerakiUA commented on #28
http://codepen.io/Crackeraki/pen/PZEjKo

[2016-01-21 03:13] #28 closed

[2016-01-21 03:14] #39 closed

[2016-01-21 03:14] #49 closed

[2016-01-22 09:13] evdoks commented on #25
I believe it happens due to

[code]

in `crop-host.js`.
The original ngCrop repo adds `crossOrigin` property only for images loaded via `http`. In case of a local file `crossOrigin` must not be set - check commit [d244d01](https://github.com/alexk111/ngImgCrop/tree/d244d0164a7de62a34aad054ebb984b856a510ab). Here is the [PR](https://github.com/CrackerakiUA/ngImgCropFullExtended/pull/51).

[2016-01-22 12:26] mavrick commented on #35
Currently seeing the same issue with the package downloaded via bower

`"ng-img-crop-full-extended": "ngImgCropFullExtended#~0.4.8"`

[2016-01-22 12:28] mavrick commented on #24
+1 please

[2016-01-22 14:47] peluprvi opened #52 "Circle bug on resize, going outside canvas."
I thought I could use `area-min-size` to limit the selectable area but it is not working as I expected.
I need the circle with a minimum size and it always must be equal or more this size.

[code]

Edited:
It works without the attribute `area-type`, but the circle is moving while resizing the circle.

And there also an issue on the max size. The circle is going to outside the image.

The behavior

[2016-01-22 14:56] peluprvi commented on #52
It works without the attribute `area-type`, but the circle is moving while resizing the circle.

[2016-01-22 20:39] hughred22 commented on #42
Hi, how is this bug coming along? Still got stuck with the image type. Upload jpg turn into PNG... And png file is bigger than jpg so it is not ideal :(

[2016-01-22 22:33] CrackerakiUA commented on #42
i tested that last night and it was working normally, can you make codepen so i can fix it?

[2016-01-22 22:34] CrackerakiUA commented on #42
About the line, really, i have seen it too, can't imagine how it get there.

[2016-01-22 22:40] CrackerakiUA commented on #52
The thing with min max i have in mind to fix those. I believe in 2 weeks i will have a look on this thing. Please work on codepen so it can be relative to others people which work here.

[2016-01-22 22:42] CrackerakiUA commented on #44
this is an issue we have seen before. I can't reproduce it my self. i Would love to help just need a way to test it.

[2016-01-22 22:54] CrackerakiUA commented on #35
If you download this file directly from the github everything works?

[2016-01-22 23:23] CrackerakiUA commented on #24
+1 :)

[2016-01-25 17:45] hughred22 commented on #24
+1

[2016-01-26 12:00] ruslan5t commented on #38
It also does not work for me.

[2016-01-31 08:51] francirp opened #54 "Crop box shrinks when hitting edge"
When moving the box against any of the edges, it shrinks instead of remains the same size. I fixed this for the rectangle area type but am not sure if this works for others. Here are the changes that worked for me: https://github.com/francirp/ngImgCropFullExtended/pull/1

Perhaps there is a better solution that @CrackerakiUA could come up with?

[2016-02-02 02:41] 9mm opened #55 "How to just crop the original quality image?"
This is really driving me crazy, I'm not sure what I'm doing wrong.

All I'm trying to do is simple. I want the 100% preserved original image and quality for the result image.

If I upload an image thats 2000px wide, and it shows up in the crop container as 400px wide, and i crop 50% (half) of that... I want it to take 50% of the original image (in all its magnificent quality) and make the output

[2016-02-02 02:44] 9mm commented on #55
I've also tried every combination of `result-image-size="selection"`, `result-image-size="max"`, `result-image-size="{w: 'max', h: 'max'}"` that i can think of but nothing makes a difference

[2016-02-02 02:46] 9mm commented on #55
Ah-ha! I needed extra ' marks. `result-image-size ="'max'"`

[2016-02-02 02:46] #55 closed

[2016-02-03 10:53] peter-tudosa commented on #54
Waiting for this feature also!

[2016-02-03 15:05] CrackerakiUA commented on #54
I will checkup in the time i can, at the moment i am full time busy :(
Perhaps in week or two.

[2016-02-06 10:40] allanesquina opened #56 "Extending the directive to accept attr as well"
Hey man, good job, I was searching for this extended features.
How about to allow attribute on the directive?
https://github.com/CrackerakiUA/ngImgCropFullExtended/blob/master/source/js/ng-img-crop.js#L5

The problem is some older browsers still getting errors with custom elements. I think changing the directive and style to be more generic is a good idea, what do you think?

Regards!

[2016-02-06 18:49] CrackerakiUA commented on #56
Hey, thanks.
What do you mean by accept attribute. What if we allow this, how can that help, in which case?

[2016-02-07 03:40] oharlem commented on #48
+1

[2016-02-10 08:59] camposcristian commented on #48
+1

[2016-02-10 13:09] allanesquina commented on #56
Hey man,
allowing attr to be able to avoid custom elements like `<img-crop>` which doesn't work well in older browsers. In this case, I can use `<div img-crop>`

[2016-02-10 13:14] allanesquina commented on #25
It's happening on Firefox 35.0.1 as well
http://codepen.io/Crackeraki/pen/avYNKP
![image](https://cloud.githubusercontent.com/assets/3584636/12948135/4a53b374-cfe7-11e5-8ffc-b590854aaecf.png)

[2016-02-10 13:33] allanesquina commented on #25
@evdoks Thanks, your commit is working :)
how about update it on bower?

[2016-02-10 16:28] CrackerakiUA commented on #56
i got your point

[2016-02-10 16:30] CrackerakiUA commented on #25
i will do one soon

[2016-02-10 18:10] CrackerakiUA opened #57 "Add option to update the result image, without using live update."
I am using it on one project, where my result image is 1920 * 1080 and it's a bit lagging on handling. I do have button for update the cropped image, so in that case i don't need cropper to update result image every time i drop dragging.

[2016-02-10 23:18] CrackerakiUA opened #58 "Future Plan and Bug List"
1) Add option to init cropper area to max size as much as possible.

2) Add option to not resize cropper area on siders.

3) Add option to set fixed Height or Width of the crop area.

4) Wrap input(file) within plugin, so it don't have any load problems, like with angular material dialog. Make in it an area with a message inside to click for upload new file. This will be by option enabled. Rebuild

[2016-02-10 23:32] CrackerakiUA commented on #57
Hope my new release didn't got you any issues. Write here if you got any bug or something with it. If you do post, make sure you have created codepen which show the problem.

[2016-02-11 09:42] anitawlosek opened #60 "Canvas is disappearing"
There is problem with this line
`angular.element(element.children()[element.children().length-1]).remove();`
https://github.com/CrackerakiUA/ngImgCropFullExtended/blob/master/source/js/ng-img-crop.js#L124

In my code before changing image to another, image is turning to undefined for a moment, so this line is invoking twice and removing canvas too.

[2016-02-11 13:25] CrackerakiUA commented on #60
Is this a new bug or old?

[2016-02-11 15:04] anitawlosek commented on #60
I just fixed this in my project, but I think it's not save to remove the last element if you are not sure that this element is the one you want to remove.

[2016-02-12 07:36] kawashimaken opened #62 "The canvas size is smaller than it supposed to be."
Great project!
I am used to use the old library to create user icon for my old projects.
Now am using this new library and  just try to fill the demo code to my app without modifying it, but I get the smaller cavas area.
Do you have any ideas what I missed?
![pic](https://cloud.githubusercontent.com/assets/12707986/13001201/bff3cee6-d1a6-11e5-98f4-1593a57c955b.png)

Thank you in advance.

[2016-02-12 11:30] CrackerakiUA commented on #62
perhaps css issue?

[2016-02-12 15:26] rickerd commented on #24
+1

[2016-02-12 17:41] rickerd commented on #52
This would be an awesome feature. My skills on JavaScript are not that great but im working on that.
Do you have any idea where it should be altered.

[2016-02-12 18:37] rickerd opened #63 "Get cropbox size"
It would be so nice to do calculations with the height and width of the cropped area.

I know Jcrop has the option to see what the width and height of the crop-area is.

Can i somehow hack into this?

[2016-02-12 23:51] kawashimaken commented on #62
All I am using is the copy-n-paste of the demo as the following...(and just changed the width and height to 600x600)

[code]

I guess that the outer tag in my app might cause the problem, I will dive deeper to investigate later...
EDIT:
I am using ngImgCropFullExtended in my directive, and it will be called into an ui-view, I am guessing it has something to do with some initialization when display

[2016-02-13 00:11] rickerd commented on #24
I looked at the project and the initial forker/starter didn't had alot of time, at least that's what he said.
Here is my PR [https://github.com/CrackerakiUA/ngImgCropFullExtended/pull/64](url)

[2016-02-13 10:57] rickerd commented on #58
If my code gets merged. 1 is solved partially

[2016-02-13 11:37] CrackerakiUA commented on #52
on crophost

[2016-02-13 11:40] CrackerakiUA commented on #63
Perhaps would be great to control that via the controller, have an object for example:
{
windowHeight: xxx,
windowWidth: xxx,
cropHeight: xxx,
cropWidth: xxx,
cropLeft: xxx,
cropTop: xxx,
}
and controller as log as user inside cropper can change those values.
That would solve half of the feature we need.

[2016-02-13 11:41] CrackerakiUA commented on #63
I will implement this as soon as possible.

[2016-02-13 11:43] CrackerakiUA commented on #62
Screenshot is from inspect element or you have added tag canvas?

[2016-02-13 12:02] rickerd commented on #63
That would be nice. But do you mean that you canset the crop dimensions via the controller and not anymore via the directive html?

[2016-02-13 12:05] CrackerakiUA commented on #63
I believe this must be only get for image height width and accessible crop area corners

[2016-02-13 12:11] rickerd commented on #63
True. Whats your planning for this feature? If you give me a little directions maybe i can put this one together myself.
I really need the feature haha.

(I need to calculate if the chosen area isn't to small for printing it on a wallpaper-sticker)
That is why i also did some work on the area-init functionality

[2016-02-13 22:09] kawashimaken commented on #62
It is from the inspect element, I did't modify anything here.
My guess is that the directive happen to not initialize correctly somehow due to the outside element size.

[2016-02-14 02:54] CrackerakiUA commented on #62
image you are testing have big resolution?

[2016-02-14 02:58] CrackerakiUA commented on #63
well, the plan is:
add option for main directive to accept object.
then if object not given, create object inside that directive.
on crophost use that object to put controllers of crop area in that so it can be modified inside controller which use our plugin.

[2016-02-14 05:56] kawashimaken commented on #62
No, just around 1000x1000 or smaller.
EDIT:
It seems that no matter what I set in cropArea css class, it will looks like the same small size...
![pic](https://cloud.githubusercontent.com/assets/12707986/13034337/d8789304-d375-11e5-8a83-54919b0741cb.png)

[2016-02-14 11:17] rickerd commented on #63
I will try this one today. Thanks for the information.
One question, why do we need to add the option for the main directive?
Im not clear on that one.

[2016-02-14 12:50] rickerd opened #65 "Create 0.5.1 tag"
Please update the tag so bower will be able to process this new version.

Thanks in advance

[2016-02-15 14:34] CrackerakiUA commented on #63
we need one object, which will be takked from angular controller of the cropper. That object need to be passed into the crophost so that can add all info into it. In that way controller can control the crophost.

[2016-02-17 01:55] kawashimaken commented on #62
UPDATE:
Either I set the width to 100% or a certain number, I got the same result as described above.

[code]

the gray area which is corpArea are correctly shown as configured in cropArea css class,while the canvas is always the same smaller area.  I am wondering if the canvas size setting procedure is working unexpectedly...

@CrackerakiUA Are the code in charge of  canvas size in crop-host.js (

[2016-02-17 16:11] CrackerakiUA commented on #62
could be in crop-canvas, i have not touched this part

[2016-02-18 01:14] kawashimaken commented on #62
@CrackerakiUA  Thank you for your response.
It turns out that there are some test css code I did not remove containing another canvas css setup which caused this problem.
I happen to have a huge file stack in my current project, it took me long time to find this canvas css.
After removing the suspicious css, all works fine.

Now please close this topic.
Thank you for all your attention and your ti

[2016-02-18 07:19] rickerd commented on #24
@CrackerakiUA the init feature is made and merged. This can be closed

[2016-02-18 11:22] #24 closed

[2016-02-18 23:35] rickerd commented on #63
Got it working.
http://codepen.io/anon/pen/RrmKwV

[2016-02-18 23:37] rickerd commented on #58
7 is done with my PR (if accepted)

[2016-02-19 03:31] bcb commented on #49
Package needs an `index.js` for webpack or browserify.

node_modules/ng-img-crop-full-extended/index.js

[code]

app.js

[code]

[2016-02-19 12:22] CrackerakiUA commented on #63
please add more variables like width and height of the cropping image

[2016-02-19 12:27] rickerd commented on #63
Why do you want the info about the copping image? This is already givin trough another object.
picFile.$ngfWidth
picFile.$ngfHeight

Also it possible to see the top and left size of the cropper.
http://codepen.io/anon/pen/NxVyjg
This codepen shows how and what.

I don't want to add functionality about the image size since it doesn't add value for the cropject.

[2016-02-19 12:45] CrackerakiUA commented on #63
can you show me how $ngfWidth works?
i tried something like this: http://codepen.io/Crackeraki/pen/GoaQdj?editors=1010

[2016-02-19 13:19] CrackerakiUA commented on #63
i will tell you one scenario which that will be needed.
for example i need to make half canvas in center, so algorithm will be:
crop width = image width / 2
crop height = image height / 2
crop left = image width / 2 - crop width / 2
crop top = image height / 2 - crop height / 2

[2016-02-19 13:21] rickerd commented on #63
Okay, i don't know about the feature. You think it's possible to add to my given feature?
And the height about the image isn't working with block-view what you are using i think..

Maybe there must be done a little more on you block thing, don't really know how it works.

[2016-02-19 13:22] CrackerakiUA commented on #63
actually it's not image height and weiget, but crop container height and weight what we need.

[2016-02-19 13:25] rickerd commented on #63
Okay. For what i needed the feature its working... I needed to have the cropbox height & width so i can calculate the square meters (m2)
If you want to work together on this thing send me a mssg on Github or e-mail me so we can collab on Skype.

[2016-02-19 13:34] CrackerakiUA commented on #63
ok

[2016-02-20 06:58] aramiscubillo commented on #25
Thanks for fixing this :D

[2016-02-20 12:05] Josmorsot commented on #42
Hello, I have the same problem as @hughred22 :

I have this in a template:
`<img-crop result-image-format="image/jpeg" aspect-ratio="1.77" area-type="rectangle" image="imageToCrop" result-image="croppedImage" result-image-size="{w:500,h:281}"></img-crop>'`

Aspect-ratio, area-type and result-image-size are working but i get "png" format always.

I have used chrome debugging tool and I've saw in li

[2016-02-20 12:17] apostnov opened #69 "Selecting image from filesystem cause exception in `setImageSource()` v0.5.0"
Check this https://github.com/CrackerakiUA/ngImgCropFullExtended/commit/f691c832ccf83d5b994d9d4a920d137b450a2f09#commitcomment-16220664

[2016-02-22 00:27] hughred22 commented on #42
Yes, I am still having this issue. I just use PNG for now but love to find out what is going wrong :)

[2016-02-22 04:08] hughred22 commented on #42
@Josmorsot Actually, I found the problem. It is actually my bad. The correct directive attribute should be result-image-format="'image/jpeg'" as image/jpeg should be string! Try this it works for me. The line issue is still there tho.

[2016-02-22 12:05] CrackerakiUA commented on #69
i will fix this as soon as i sit on the project. Would be awesome if you make PR, i could accept it right away.

[2016-02-22 12:07] CrackerakiUA commented on #42
i do remember this bug, actually it's high priority bug.

[2016-02-22 15:03] dreamworks commented on #60
same thing here... @anitawlosek did you commit your fix somewhere?

[2016-02-22 15:27] dreamworks commented on #60
if (element.children().length > 1) {
    angular.element(element.children()[element.children().length - 1]).remove();
}

worked for me, but definitly more a hack than a fix... (using img-crop within ng-repeat)

[2016-02-23 14:09] dreamworks opened #71 "Added areaInitCoords"
Some tiny lines of code...

Added those as I use it within ng-repeat and the list is reloaded more often to not loose the area

          <img-crop area-coords="item.crop" area-init-coords="item.crop" ...>

works for me; I know I have one unnecessary drawScene cycle but have to move on..

           areaInitCoords: '=?',

            scope.$watch('areaInitCoords', function () {

[2016-02-23 14:16] #71 closed

[2016-02-23 16:46] CrackerakiUA opened #72 "Publishing"
Need a help, don't have time to research this.
Which commands make publishing the package correctly?
For example on npm i am doing `npm publish` at the moment.
what should i write for bower to force publish and what on Meteor?

[2016-02-24 12:43] Talhamansoor opened #74 "area-min-relative-size and init-max-area not working together"
http://codepen.io/anon/pen/yemZOa

[2016-02-24 13:14] amitkumbhar14 commented on #52
Hey, Im facing same issue here. and i'd like to know when would you fix this issue? im stuck, cant go further.
Thanx in advance.

[2016-02-24 13:23] CrackerakiUA commented on #52
you can go further and fix the issue in the cropper :)

[2016-02-24 20:07] #69 closed

[2016-02-25 04:45] #65 closed

[2016-02-25 04:52] CrackerakiUA commented on #48
I will start this soon, when i do that i will show the link here.

[2016-02-25 04:53] CrackerakiUA commented on #54
in day or two this will be on.

[2016-02-25 05:00] #58 closed

[2016-02-25 05:08] #63 closed

[2016-02-25 05:08] #57 closed

[2016-02-25 05:23] CrackerakiUA commented on #54
try out the new update.

[2016-02-25 05:23] #54 closed

[2016-02-25 07:06] amitkumbhar14 commented on #52
just solved the issue.... thx nywy

[2016-02-25 16:51] #20 closed

[2016-02-26 15:26] anitawlosek commented on #60
@dreamworks I changed my code so image isn't turning to undefined, and that solved the problem, but I thing it should be also fixed in this library (maybe get element with some id, instead of any element?)

[2016-02-26 16:31] franbueno commented on #60
thanks @dreamworks! It helped me :)

[2016-02-26 21:37] CrackerakiUA commented on #60
if you could make a PR, that would be awesome

[2016-02-27 16:33] dazulu opened #77 "Photos taken with iOS will not load in"
Android tablet, Android phone, Macbook Pro, and Win10 laptop all fine. However, when I select a photo that has been taken with an iPhone (tested 5 and 6s) camera either via file selector or by taking the photo directly, it doesn't load in. It will work with photos transferred to the phone that were not taken via the camera. This is reproduce-able with the standard codepen demos and multiple mobile

[2016-02-27 19:00] CrackerakiUA commented on #77
which data cropper accepting? can you put log there?

[2016-02-29 03:24] CrackerakiUA commented on #21
hmmm, that can be easly fixed, if anyone need it i could give instructions on how.

[2016-02-29 03:25] CrackerakiUA commented on #52
fixed with latest push

[2016-02-29 03:25] #52 closed

[2016-02-29 03:27] CrackerakiUA commented on #44
this is fixed with block rendering, try this out http://codepen.io/Crackeraki/pen/XmEdPx

[2016-02-29 03:27] #44 closed

[2016-02-29 03:27] CrackerakiUA commented on #77
when you have an answer, reopen the issue.

[2016-02-29 03:27] #77 closed

[2016-02-29 03:29] #62 closed

[2016-02-29 03:31] CrackerakiUA commented on #42
any idea anyone, where could be this generating?

[2016-02-29 03:35] CrackerakiUA opened #78 "Trello"
If you want to join trello, just reply here with your username in trello and i will add you.

[2016-02-29 07:04] amitkumbhar14 commented on #52
@CrackerakiUA ... Thx

[2016-02-29 11:01] dazulu commented on #38
Same here. It might be related to this? https://github.com/alexk111/ngImgCrop/issues/58#issuecomment-84913160

[2016-02-29 14:56] peluprvi commented on #42
This can happen when overlapping the canvas, like was in #52

[2016-02-29 15:09] peluprvi opened #79 "npm is on 0.5.2"
https://www.npmjs.com/package/ng-img-crop-full-extended

[2016-02-29 15:34] peluprvi opened #80 "Update selected image area"
When select a portrait image and then change it to a landscape image, the cropped image loads wrong.

Code:
[code]

Changing from portrait to landscape:

![image](https://cloud.githubusercontent.com/assets/1561360/13398853/048dc698-dedf-11e5-84f3-a5525b63b97d.png)

After crop:

![image](https://cloud.githubusercontent.com/assets/1561360/13398905/4415957a-dedf-11e5-95ab-767e3827fd6a.png)

This is r

[2016-02-29 16:21] CrackerakiUA commented on #79
Fixed

[2016-02-29 16:21] #79 closed

[2016-02-29 16:22] CrackerakiUA commented on #80
i guess we need cropper restarter

[2016-02-29 16:26] CrackerakiUA commented on #80
Can you reproduce this in this codepen? http://codepen.io/Crackeraki/pen/avYNKP
If you do, please give me the images, because i can't with mine.

[2016-02-29 18:38] br8kpoint commented on #21
@CrackerakiUA I would appreciate these instructions as I am currently running into this issue.  thanks

[2016-02-29 22:22] CrackerakiUA commented on #21
in this line https://github.com/CrackerakiUA/ngImgCropFullExtended/blob/master/source/js/classes/crop-host.js#L279
you have check if result img is arr or simple, before those check add check if it's rectangle and it's not aspect ratio to change the result.

[2016-02-29 22:24] CrackerakiUA commented on #42
I believe no, this result is watched on high resolution images on event crop type.

[2016-03-01 09:44] dazulu commented on #77
Hi. This was actually a duplicate of https://github.com/CrackerakiUA/ngImgCropFullExtended/issues/38. I've added more info there.

[2016-03-01 10:15] rickerd commented on #42
So there is still no fix for the vertical line? :(

[2016-03-01 15:48] CrackerakiUA commented on #42
the line is not vertical only, i have seen it horizontal more times. Yes still no fix, can't imagine where that bug is.

[2016-03-01 15:49] CrackerakiUA commented on #38
if this fixed in the original cropper?

[2016-03-02 13:20] dazulu commented on #38
I think the original is https://github.com/alexk111/ngImgCrop, right? Correct me if I'm wrong. Just tested with it and it has the same problem.

[2016-03-02 16:11] CrackerakiUA commented on #38
yes, it is. ok, then it's old issue.

[2016-03-03 18:41] peluprvi commented on #80
The issue occurs when there is no `area-type` setted.

I can reproduce the issue with those options:

[code]

But there is no issue with those options:

[code]

The images are:

![456571064_1](https://cloud.githubusercontent.com/assets/1561360/13504817/e50d37c2-e154-11e5-921f-60ae7190bda7.jpg)

![456835260_1](https://cloud.githubusercontent.com/assets/1561360/13504821/e9749b16-e154-11e5-9360-2576b

[2016-03-04 10:53] paulchill opened #82 "Which combination of settings to allow the directive to receive values dynamically?"
Great module, i am using this module and love it but i am unsure about one thing.

I wish to be able to allow the directive to receive with and height for the specific images from the aspect ratio. I am using this for various image scenarios, ranging from 1 image to 4 images on one page.

each image has different height and width, i put in the aspect ratio but it does not seem to give me what i wa

[2016-03-04 12:07] CrackerakiUA commented on #82
Hello
You have confused me a bit :)
Can you please create a code pen with setup which you believe is better in your case and give me scenario with 2-4 images, i would help you.

[2016-03-04 16:49] megha-n-bodke opened #83 "support angular binding for image attribute in img-crop directive"
Is it possible to support angular binding for **image** attribute in **img-crop** directive?
Below is the sample code:
[code]

[2016-03-04 18:14] CrackerakiUA commented on #83
yes

[2016-03-08 02:21] CrackerakiUA commented on #42
I have success to fix this on my projects but i am using only the cropper info about locations and original dataURL of the image, then on the server i am doing the crop with ImageMagick. I know this is bad, but until this bug is fixed, we can follow this scenario.

[2016-03-10 09:48] wickY26 opened #84 "Cropping is not working with column-count css property"
In my case I am using multiple `img-crop` directive in one page. This page has 3 columns and directive is only working at the first column and not for the rest. I created a [codepen](http://codepen.io/anon/pen/MyegEG) for this issue.

in this codepen example you could see it but cannot edit it in my application you cannot even see it.

any help would be great?

NOTE: I tested it with ie it is work

[2016-03-10 15:21] DmitryGonchar opened #85 "Color Thief v2.0 is inc"

[2016-03-10 15:26] DmitryGonchar opened #86 "Color Thief v2.0 is included twice into compiled file"
1) search "Color Thief v2.0" in [compiled file](https://github.com/CrackerakiUA/ngImgCropFullExtended/blob/master/compile/unminified/ng-img-crop.js) - you will see that it is included twice. I checked via filediff - both parts are identical. Most likely bc this file is concatenated in gulp both in `scripts-part-1` and `scripts-part-2`. Is it really needed?

2) Color Thief v2.0 license is included

[2016-03-10 15:34] DmitryGonchar commented on #85
Sorry, should not have created this one,  probably pressed something extra. See this issue instead https://github.com/CrackerakiUA/ngImgCropFullExtended/issues/86

[2016-03-10 15:34] #85 closed

[2016-03-10 17:55] CrackerakiUA commented on #84
Have you tried to use different variables for input?

[2016-03-11 07:52] wickY26 commented on #84
@CrackerakiUA Yes I did it here are some testing case...

Here is my application where I encounter with issue.
If I have img-crop on column 2 or 3 it doesn't show up at all.

![2 columns](https://cloud.githubusercontent.com/assets/5011438/13696309/3d5532d0-e76e-11e5-9745-7c00a82c6785.png)

but if I make screen smaller and move that components into column 1 it is shown

![1column](https://cloud.git

[2016-03-11 09:26] midori0507 opened #87 "Not working for mobile device or IOS"
I've gone through every ngImgCrop and ios upload via take photo seem doesn't work except in landscape mode.

Digging around and find a gist. It would be nice if this fix was test and applied
https://gist.github.com/hbbh/d5f21c4120665f9429e3
original thread can be found here

https://github.com/alexk111/ngImgCrop/issues/117

[2016-03-13 00:34] CrackerakiUA commented on #84
in your example pen i see only one input for adding images, is this how it suppose to be?

[2016-03-13 00:35] CrackerakiUA commented on #87
if you are developer, please try to make an pr. If not i will take a look in couple days.

[2016-03-13 02:12] midori0507 commented on #87
I just create a working pull request, tested on my iphone 5s. As i explained, only make change to crop-host.js file, no idea of change in builded file, i hope i didn't break anything :D

[2016-03-13 11:16] wickY26 commented on #84
@CrackerakiUA yes I am using one filepicker if you want you can use one for each it does not related with ui issue.

[2016-03-13 12:10] CrackerakiUA commented on #84
Trying to understand the issue. When you add an image, you can only move crop area only on first?

[2016-03-13 12:32] CrackerakiUA commented on #84
The task is to create many different result of an image, correct?

[2016-03-13 14:11] wickY26 commented on #84
@CrackerakiUA no no. Think all columns are independent. Each of them reflect an item and they have no relation at all. Problem is if item is positioned at first column then img-crop is working but if item positioned on other columns different than first column then it is not working...

You can remove first img-crop at the example on codepen if you want so you can see still will not work...

[2016-03-13 14:30] CrackerakiUA commented on #84
The css you are using braking it. Look here http://codepen.io/anon/pen/XdjRvx?editors=1100
everything looks smooth. I don't have much experience in css, so i can't help you.

[2016-03-16 02:18] vinimendes3 opened #89 "Loading message/popup while render ?"
I'm developing an app using Ionic, and I'm using this plugin, and the performance isn't the same as using on web. Seen it, I want to display a message like "Loading..." in a popup turning a circle while it renders the image, and when the render has been complete it finishes.

Is there any way to trigger when does it starts to render and when does it finishes?

Or even better, is there any way to d

[2016-03-16 10:20] CrackerakiUA commented on #89
No, and no. :)
there is only a way to trigger process when you want and get response of that call, i believe that will work for you.
http://codepen.io/Crackeraki/pen/XmEdPx

[2016-03-16 12:26] Talhamansoor commented on #74
Bug fixed.
https://www.dropbox.com/s/m49xyw0peudlgto/cropextend.rar?dl=0

[2016-03-16 12:44] CrackerakiUA commented on #74
If you have modified classes files, please make pr

[2016-03-17 07:34] #87 closed

[2016-03-18 06:06] dharitdesai commented on #38
looks like this was fixed in pull request #88

[2016-03-24 11:26] polskiemedia opened #92 "Can't get JPEG result image, i always get PNG"
I loading JPG file in input
![image](https://cloud.githubusercontent.com/assets/4907660/14015791/e8395666-f1bb-11e5-84e8-13eee7e63fb2.png)

In myCroppedImage i get always PNG
![image](https://cloud.githubusercontent.com/assets/4907660/14015850/25623c6a-f1bc-11e5-8718-0f59f31dd779.png)

even if i set result-image-format="image/jpeg"

[2016-03-24 18:42] CrackerakiUA commented on #92
Better give codepen with your setup.

[2016-03-26 06:57] VenkatTeja commented on #92
+1
result-image-format="image/jpeg" doesnot work. The resultant datauri is still png. This works in ngcimgcrop. But not working in ngimgcropfullextended. Please look in to it.

[2016-03-26 12:30] CrackerakiUA commented on #92
We have mentioned this issue before, you can search on the solved issues.

[2016-03-28 08:20] Mobius77x commented on #48
+1. Have you started work on this?

[2016-03-28 09:08] CrackerakiUA commented on #48
Yes but process it stopped. I will continue with it when angular 2 is released. We have tried to make small app and we saw that ng2 is not ready.

[2016-03-29 12:37] ProdigyView opened #93 "ColorThief Passing Image Twice"
I am getting an error that that says:
`ng-img-crop.js:5034 Uncaught TypeError: Cannot read property '0' of null`
Which occurs on this line of code:

[code]

When I did a console.log(sourceImage) I was getting a weird result. The first result was the image being passed through as correct. But then it passed another image but this string was corrupted. Digging deeper into the code it runs these two

[2016-03-31 13:08] Talhamansoor commented on #74
Blur instead of that greyish image i have modified.

[2016-03-31 13:27] aogz opened #94 "Unset aspect"
Is there any possibility to unset the aspect ration dynamically from ng-model?
I've tried to make it negative, null, undefined or a string, but nothing works

[2016-03-31 13:48] #94 closed

[2016-03-31 14:28] biblicalph opened #95 "Crop Error If Width and Height Unspecified"
Hi,

I have implemented this plugin with ng-file-upload (https://github.com/danialfarid/ng-file-upload) and after much difficulty have been able to get it working. I set my crop area to a width of 100% and min-height for my crop area as well. With these 2 in place, I kept getting an error:

Is it possible to set width in dimensions such as percentage? Same goes for height.

Regards

[2016-04-01 09:05] rallu commented on #92
I found reason for this problem. Angular tries to parse image/jpeg as calculation where you divide image variable with jpeg variable. So solution is to force parameter into string.

Like this: `result-image-format="'image/jpeg'"` or you could set variable in controller as a string and then pass it to template.

[2016-04-01 09:48] #92 closed

[2016-04-01 14:27] VenkatTeja commented on #92
great!!

[code]

 Closed #92.—
You are receiving this because you commented.
Reply to this email directly or view it on GitHub

[2016-04-01 17:09] CrackerakiUA commented on #92
??

[2016-04-05 09:48] rickerd commented on #89
I have a custom include in Angular that adds a loading message.

[code]

[2016-04-05 10:10] CrackerakiUA commented on #89
@vinimendes3 did that work for you?

[2016-04-05 21:36] tuxtor opened #98 "Gulpfile is creating AMD and CommonJS definitions twice"
I've been testing ngImgCropFullExtended inside an AngularJS + RequireJS configured project, for instance this library is loaded correctly on development mode (non-optimized nor collapsed libraries), but if you try to optimize the project using r.js (with r.js or grunt-contrib-requirejs), the  application simply does not bootstrap, giving 0 warnings.

As [ng-img-crop.js](https://github.com/Crackera

[2016-04-06 08:37] CrackerakiUA commented on #98
I am not familiar with those, if you believe that must be fixed then do PR, i will accept it as long as plugin continue to work.

[2016-04-08 08:01] zidein07 opened #99 "White screen when I was trying to upload an image. Why do I get it? Here is my code."
I'm using ng-file-upload for upload image, and getting white screen.
JS
[code]
[code]

I'm just trying to upload an image, I can see it, but later it disappears. What is the problem?

video with problem: https://youtu.be/L2oKqh03bGM

[2016-04-08 21:25] CrackerakiUA commented on #99
can you reproduce it inside codepen?

[2016-04-10 14:06] developandbehappy commented on #99
I've already found a solution to my problem. The problem was in angular, I don't know why but using ng-if causes such a flicker. Native library doesn't have it. We need to check it. So thank you, the issue can be closed

[2016-04-10 14:06] #99 closed

[2016-04-11 17:00] megha-n-bodke opened #101 "result-image-format not working"
I applied  result-image-format="image/jpeg" to img-crop.
But cropped image is always defaults to "image/png" header.
Here is the codepen:
http://codepen.io/megha_bodke/pen/YqeEdW
![inspectoutput](https://cloud.githubusercontent.com/assets/13938070/14435310/e7357560-0034-11e6-8d0b-c3e205d70790.png)

[2016-04-11 17:47] CrackerakiUA commented on #101
Angular and javascript thing: when you want to add string as parameter, you need to add 'Text' so it don't recognize as variable.
And try to search the Issues before you post, there are like 3 same posts closed.
http://codepen.io/Crackeraki/pen/VaQQPG

[2016-04-11 17:47] #101 closed

[2016-04-12 06:30] #74 closed

[2016-04-13 04:04] megha-n-bodke commented on #101
My Bad :(
"result-image-format="'image/jpeg'" is working fine.

[2016-04-13 07:19] CrackerakiUA commented on #101
All cool :)

[2016-04-15 02:36] vinimendes3 commented on #89
Sorry @rickerd for the delay. I did not understand very well how you did it. Can you explain better please how did you integrate this code with the ngImgCrop lib? Thanks

[2016-04-15 07:46] CrackerakiUA commented on #89
@vinimendes3 basically he create an cover on cropper container. What i could add on cropper is to add variable which would tell outside world that crop is loading.

[2016-04-20 13:29] karensg commented on #95
I just got the same error with IE11 on Windows 10. I think this error also happens in other cases.

[code]

[2016-04-20 13:42] CrackerakiUA commented on #95
an codepen would be good to track the issue.

[2016-04-20 20:54] xyph opened #102 "Issues with "//" URI strings and CORS"
Script only applies crossOrigin = 'anonymous' if the string starts with "http", however, many devs will simply use "//" to avoid issues mixing insecure with secure content.

Changing line 2491 to
`if (imageSource.substring(0, 4).toLowerCase() === 'http' || imageSource.substring(0, 2) === '//') {`
seems to fix the issue

[2016-04-21 06:53] CrackerakiUA commented on #102
on next compile it will be fixed

[2016-04-21 06:53] #102 closed

[2016-04-21 08:37] karensg commented on #95
I can not really reproduce it myself. I have an error logging tool installed and I see that this happened.
When I try, it myself, it works for me. Probably there is some special user behavior.

[2016-04-21 11:18] CrackerakiUA commented on #95
Then i can't see how can i help you. If you find where is the problem and fix it, you can make pr, i will accept it.

[2016-04-21 11:43] karensg commented on #95
Sure, I will definitely let you know if I can find it.
The issue created is not mine, I just responded to give more information about it.

[2016-04-23 18:23] stgunholy commented on #42
Most of cropped images I get have horizontal white line at bottom... My usage is pretty basic:

[code]

[2016-04-23 18:45] CrackerakiUA commented on #42
I have an project with photographers adding their images, and yes, 80% of the images got that line. I have added cool thing to fix this which i haven't added here yet. Basically i am resizing image before add to the cropper, for example to max + keep scale up to 1920*1080. After that resize no white line exists. I will try to add this soon to the cropper.

[2016-04-23 19:18] stgunholy commented on #42
Problem is that I have no idea what size the result image will be :) In my case users can crop image as they want. But I checked demos and on rectangle demo result image turns to be square, if width is bigger then height

[2016-04-24 09:54] CrackerakiUA commented on #42
Hmm, i haven't seen that with square. When you allow users crop huge images, like 10mb, cropper will lag even on good computers, so why should you allow that, users wont like it.

[2016-04-24 09:56] CrackerakiUA commented on #42
What you could do is resize image before add it to cropper to lower then 1920*1080, take all info from cropper, which area you should crop. Then send to server original image with those information and use imagemagick and do the actual crop there.

[2016-04-24 10:24] stgunholy commented on #42
True... But this really destroys 90% of using this component :)

[2016-04-24 12:55] CrackerakiUA commented on #42
If you see it like this, i see it as task must be completed )
Besides, i don't know better cropper from this one.
What we need to success is smooth user experience, so i do suggest you to make the way i told you.

[2016-04-27 23:48] andresarslanian commented on #21
Just to add to @CrackerakiUA last post, I did the following and worked for me (I DIDN'T test it with circles, I'm just using rectangles and works like a charm).

The original code was:

[code]

And this is my modified code:

[code]

I hope it helps...

cheers!

[2016-05-05 05:20] alex88 opened #104 "ColorThief is not defined"
I've just installed this library and if i include the unminified version with webpack I get:

[code]
in the `new ColorThief()` line

[2016-05-05 08:33] rdpascua commented on #49
Sadlythis doesn't work in webpack / browserify

[2016-05-05 10:02] CrackerakiUA commented on #49
You can create pr with that index.js, i will accept it

[2016-05-05 10:28] CrackerakiUA commented on #104
this has to do with ColorThief not having index.js? I don't have any experience with webpack. If you solve it make pr, so other users can use it.

[2016-05-06 10:33] sureshb4u opened #106 "Original Bit depth is not retrived after cropping the image"
Hi @CrackerakiUA .First of all thanks for this plugin,  I am using it  in my project It is really awesome.
One thing I noticed is that the  Bit Depth of the cropped image is always 32-bit,
When I upload a 24-bit image the plugin making it 32 bit and it increases the size of the image which is greater than the original image
I couldn't find where the bit depth is calculated in the plugin it would b

[2016-05-06 11:32] CrackerakiUA commented on #106
i will check this as soon as i can.

[2016-05-07 17:08] alex88 commented on #104
If you look at the various exports of the modules you have in your file you see each one has a different way to export the module :)

Anyway, this should solve the issue https://github.com/alex88/ngImgCropFullExtended/commit/257a04430ed7f60dc36c36f47f9a8baadfe1fcb0 but I'm not sure you should export other libraries code in your library

[2016-05-09 14:22] CrackerakiUA commented on #104
I do agree it's bad idea, when i took the project, it was already there.

[2016-05-10 02:41] alex88 commented on #21
@andresarslanian's version works perfectly, however it stil generates the image of 200 pixel in size

[2016-05-10 02:59] alex88 commented on #21
Nvm, if you use `result-image-size="max"` where max is a scope variable having `max` as string value it uses the full image resolution

[2016-05-10 06:35] patrickmichalina opened #108 "Importing with JSPM"
It would be nice if this would be distributed in such a way that JSPM could import it naturally. It works, but may not be clear to new users. For anyone looking in the future, import it like this:

[code]

Otherwise you will get a token unexpected error because the package is not conforming to the standard.

[2016-05-13 20:59] bionetmarco opened #109 "Square crop going out of bounds"
Can reproduce here: http://codepen.io/Crackeraki/pen/XmEdPx

<img width="731" alt="screen shot 2016-05-13 at 5 02 06 pm" src="https://cloud.githubusercontent.com/assets/7838694/15261820/88303652-192c-11e6-9e3e-4f42b134971e.png">

Using an image that's landscape, If you square crop and extend from the bottom right node, the square will become taller than the canvas. It results in graphical issues a

[2016-05-13 23:51] CrackerakiUA commented on #109
Damn, this were fixed by me 2 months ago ...
i will check in few days.

[2016-05-20 21:13] zmkpr0 opened #110 "result-image-quality not working for result-blob"
I believe it should be

`temp_canvas.toBlob(function(blob) {
                _p.resolve(blob);
            }, resImgFormat, resImgQuality);`

instead of

`temp_canvas.toBlob(function(blob) {
                _p.resolve(blob);
            }, resImgFormat);`

[2016-05-20 23:06] CrackerakiUA commented on #110
make PR

[2016-05-24 20:51] bbales opened #114 "Memory Leak"
This issue referenced from [here](https://github.com/alexk111/ngImgCrop/issues/126)

FYI - In the crop_host.js the destroy function wrong:

[code]
should actually be

[code]
This is causing a significant memory leak.

[2016-05-25 00:01] CrackerakiUA commented on #114
make pr

[2016-05-25 14:21] ronaldjeremy opened #115 "none of the demos work?"
In all of the demos, after uploading an image, there is a brief flash where the cropper and image is visible and then the canvas disappears.  The only thing left after that is the initial cropped image.

[2016-05-25 15:06] ronaldjeremy opened #116 "Get accurate cropImageWidth on large portrait images?"
Our use case of this tool is to load images and POST crop coordinates to the server which will crop the original image using those coordinates.

It works fine for larger landscape images, but it looks like if a large image with portrait EXIF orientation gets loaded, then the canvas gets shrunk to a max of 1000px.  That makes the cropImageWidth etc coordinates inaccurate.  Is there a way to be able

[2016-05-25 18:34] CrackerakiUA commented on #115
i will checkout, i haven't made new release after accept new pulls. If you use latest release all should be good.

[2016-05-25 18:36] CrackerakiUA commented on #116
You can resize image to 1920_1080 max (ex 1795_1080 or 1920*1071) and use that image on cropper and after crop get points for actual crop on the server.

[2016-05-25 18:46] CrackerakiUA commented on #115
people still using that crappy jquery and passed some of it on latest push. @TimoPerplex and @CedricEugeni please check the code you have added in PR and remove Jquery.

[2016-05-25 19:08] ronaldjeremy commented on #116
That will not work.  That would reduce the quality of the source image, resulting in a lower quality cropped area.

I do not know how to do a pull request, but this is what I did:

I added an additional field called "downScale" to cropject.  That number will be 1, unless the "[3, 6, 8].indexOf(orientation) > -1" in setNewImageSource is hit, in which case downScale will be what the "p" variable is

[2016-05-25 19:16] CrackerakiUA commented on #116
if you have fixed your issue then you are ok. My solution is working, i am actually using it on my projects.

[2016-05-25 19:16] #116 closed

[2016-05-25 19:17] ronaldjeremy commented on #116
I am unclear on what your solution is.  Are you saying that you resize the source image to 19201080 max on your computer before uploading it to crop?

[2016-05-25 19:58] CedricEugeni commented on #115
@CrackerakiUA : I didn't use Jquery in the code I produced.
Are you talking about the following line of code :
`element.children(".loading").remove();`
I didn't do this line of code but if I look at the PR I did, there is this line added while I didn't do it.
If that is where the problem is coming from, how can I remove it ? Create another PR ?

[2016-05-25 20:08] CrackerakiUA commented on #116
no no, javascript. You keep scale of the image and make max 1920 width and max 1080 height. In that way you get smooth cropping tool. After that you send to the server the original image alongside with object from cropobject and handle the cropping inside back-end as you wish. I am using ImageMagick on back-end which do a bit better work from canvas.

[2016-05-25 20:09] CrackerakiUA commented on #116
If you wish i can drop here the code of that resize, actually i have other service doing it, which i build my self. I can share resize code.

[2016-05-25 20:10] CrackerakiUA commented on #115
Yes, please create another PR.

[2016-05-25 21:39] CrackerakiUA commented on #115
Looks fixed.

[2016-05-25 21:39] #115 closed

[2016-05-26 06:41] TimoPerplex commented on #115
Hi, @CrackerakiUA, @CedricEugeni,

Pull request  #111 indeed introduced a jQuery dependency (my bad), but pull request #112 fixed that.

The bugfix of #111 and #112 has now been reverted which reintroduces the following bug:

When you select a bad file (xlsx, dll or anything that is not an image) the loading overlay shows. When you after this select a valid image, the image is shown with the loadi

[2016-05-26 07:06] CedricEugeni commented on #115
Hi @TimoPerplex, it seems that PR #111 and PR #112 only modify source files and not generated files (maybe you forgot to do a `gulp build` before committing).

Can you fork from what is available on master right now and put your #112 fix again, then generate files using `gulp build`?

I think this will help @CrackerakiUA to put things back in order easily.

[2016-05-26 07:45] TimoPerplex commented on #115
@CedricEugeni, @CrackerakiUA

Done, i ran gulp build on the source and added a new pull request: #118.
Your revert #117 wasn't merged so didn't need to add the fix again.

[2016-05-26 07:47] CedricEugeni commented on #115
Great @TimoPerplex ! :)

[2016-05-26 12:46] ronaldjeremy commented on #116
Yes please, that would be awesome!  I am also using ImageMagick on server.  In my case the server already has the source image (for the crop tool i am using like `<img-crop image="'http://myserver.com/someimage.jpg'")>`, then i am just passing to the server the area i want to crop for the image that is already there.

[2016-05-26 13:43] CrackerakiUA commented on #116
So you simply have to send cropobject to server, i will add code for resize soon.

[2016-05-26 15:00] CrackerakiUA commented on #116
[code]

Hope this will help you out.

[2016-05-26 15:25] ronaldjeremy commented on #116
fantastic, thank you!

[2016-05-26 20:25] CrackerakiUA opened #119 "Ellipse"
What do you think about Ellipse area, is any of you which would need it?

[2016-05-27 07:18] loupiz commented on #40
Had the same issue. Your fix worked for me as well. Thanks

[2016-05-30 15:09] ohkostya commented on #80
I have a similar issue with these options:

[code]

If I upload landscape image the crop area will have a max size. And then if I upload portrait image (without reloading the page) the crop area size will not be in a max size.

[2016-06-01 09:21] DavideRoss commented on #109
Any news on this?

[2016-06-01 12:02] CrackerakiUA commented on #109
didn't had the time, will try as soon as i can.

[2016-06-02 09:06] ybian commented on #104
For others encountering this issue, there is workaround without touching the code. Just disable the broken module styles using `imports-loader` webpack plugin, like this:

`require('imports?define=>false,exports=>false!ng-img-crop-full-extended/compile/unminified/ng-img-crop.js')`

It works for me.

[2016-06-02 09:38] CrackerakiUA commented on #104
So this is solved?

[2016-06-03 05:53] ybian commented on #104
@CrackerakiUA For this specific issue, it is resolved, at least for me. But the way of this repo to handle dependencies is kind of problematic, as revealed by this issue. That might be a long term objective. ;-)

[2016-06-03 10:50] CrackerakiUA commented on #104
If i were writing code as you do, with webpack, i would do work to make it that way

[2016-06-03 10:50] #104 closed

[2016-06-04 12:02] FaiyazMdAbdul commented on #21
@CrackerakiUA @alex88 setting result-image-size="max" causes the browser to freeze for images over 10mb and setting to "selection" renders very poor quality .

[2016-06-04 12:14] CrackerakiUA commented on #21
image 10mb and langer you can resize to smaller inside cropper and send to server original image and crop it there with options from cropper. On all my project i have added resize down to 1920/1080 each max before opening the cropper and everything works smooth.

[2016-06-06 13:17] peluprvi commented on #80
My initial issue was fixed. And I can reproduce the @cuberskulk issue with the same above images.

[2016-06-08 12:26] El4a opened #121 "prevent resize"
Hi!

is it possible to prevent the box from being resized? As in I set a default size, and the user can not resize it, only move it around to capture a different part of the image?

Or does anyone know of a different library that does this?

[2016-06-08 15:36] CrackerakiUA commented on #121
We don't have such option, i guess it could be cool option.

[2016-06-09 21:48] joanitad opened #122 "support for cropping GIFS"
hi @CrackerakiUA ,
Does this have support for GIFS ?
I tried changing the result-image-format="'image/gif'" .
http://codepen.io/anon/pen/pbgwQp
What can I do to add GIF cropping capability to this ?

[2016-06-09 22:53] CrackerakiUA commented on #122
How do you imagine this? Max best result could be first frame cropped.

[2016-06-10 22:41] joanitad commented on #122
ok, thanks :-)

[2016-06-10 23:31] #122 closed

[2016-06-13 05:07] sureshb4u commented on #106
Hi CrackerakiUA ,do we have any update on this.

[2016-06-13 08:36] CrackerakiUA commented on #106
Not yet. I am kinda busy with main projects.

[2016-06-13 15:24] joanitad opened #124 "Unable to install package using bower"
hi @CrackerakiUA ,
I am unable to install the package using bower . I need to use bower for my project. I tried searching for the package using bower search and couldn't find it either.

npn install works fine, but I need bower install.

[2016-06-13 16:13] CrackerakiUA commented on #124
well, i think it was working normally, at the moment it don't have latest code but it should work. You can't download any code at all?

[2016-06-13 16:20] joanitad commented on #124
i can't download any code at all.
I get this error :
`bower install ngImgCropFullExtended
bower                        ENOTFOUND Package ngImgCropFullExtended not found`

[2016-06-13 17:02] PaulAndreLOUIS opened #125 "Crop animated images"
It would be very cool if cropping an animated gif would resulted in an animated image, and not the crop of its first frame.

[2016-06-13 20:10] CrackerakiUA commented on #124
I will check tomorrow why it's not working, it should.

[2016-06-13 20:16] CrackerakiUA commented on #125
Feel free to add that feature :)

[2016-06-15 17:44] joanitad commented on #124
Hi @CrackerakiUA ,
Any updates on the package install using bower ?

[2016-06-15 19:12] CrackerakiUA commented on #124
https://bower.io/search/
add ngImgCropFullExtended

[2016-06-15 22:52] joanitad commented on #124
Thanks that worked!

[2016-06-15 22:52] #124 closed

[2016-06-22 03:57] shinevk opened #126 "result-image-format not working"
result-image-format doesn't seems to be working. The result image is always png.

[2016-06-22 15:59] shinevk commented on #126
Its working
I had to set as result-image-format="'image/jpeg'" instead of  result-image-format="image/jpeg"

[2016-06-22 15:59] #126 closed

[2016-06-26 17:53] ignacio-chiazzo opened #128 "Example ngImgCrop use different sizes"
This example shows you how to use the ngImg with different sizes https://github.com/ignacio-chiazzo/ngImgCropTool-Examples.

[2016-06-28 06:53] ProdigyView commented on #21
This fix works for me too, the white space is gone. Why hasn't this been merged in yet?

[2016-06-28 18:45] eliseguimaraes opened #129 "Error with webkitURL"
Chrome tells me webkitURL is deprecated.
window.webkitURL doesn't return null, but the method createObjectURL doesn't exist, which is why I changed the code on line 3057 - which was:
`scope.urlBlob = urlCreator.createObjectURL(blob);`
 to:
`                                scope.urlBlob = window.webkitUrl.createObjectURL ? window.webkitURL.createObjectURL(blob) : window.URL.createObjectURL(blob);
`

[2016-06-29 15:33] abelbarbosa opened #130 "result-image-quality doesn't work"
I'm using ngImgCropFullExtended with ng-file-upload.

Everything works perfect except that the resulting image is 4 times bigger (disk space) than the original, despite having 1/4 of the dimensions.
I've tried to set type to jpg and the result-image-quality to 0.1 but the resulting size is just 1kb smaller.

[code]
My objective was to get a smaller image in size (disk space) and dimensions.

Shoul

[2016-07-02 14:06] CrackerakiUA commented on #21
Need to  give some time to add it as feature.

[2016-07-02 14:06] CrackerakiUA commented on #130
Can you please search in Issues, i think we have solve this in other topics.

[2016-07-05 09:26] rickerd commented on #114
Since he wouldn't do it, i did it.
https://github.com/CrackerakiUA/ngImgCropFullExtended/pull/131

[2016-07-05 09:27] rickerd commented on #89
@CrackerakiUA close this? It's not really an issue

[2016-07-05 09:28] rickerd commented on #83
@CrackerakiUA close this issue?

[2016-07-05 09:29] rickerd commented on #72
I'll try and find a solution and research it.

[2016-07-05 12:54] #89 closed

[2016-07-06 22:10] rbrandino1 commented on #60
Will be a PR of this problem?

[2016-07-06 22:11] rbrandino1 commented on #60
There will be a PR of this issue ?

[2016-07-09 20:07] MaximilianLloyd opened #133 "Crash on startup"
Sadly I will not a be able to use this fork until this issue is resolved. It crashes on startup without any sort of error message. An example is shown below:
![2016-07-09_22-06-54](https://cloud.githubusercontent.com/assets/10583205/16710013/852d35be-4621-11e6-877f-ec25272c2905.gif)

[2016-07-10 00:04] CrackerakiUA commented on #133
never seen this before.

[2016-07-10 17:24] MaximilianLloyd commented on #133
yeah it sucks. Will have to use the original lib until the issue gets resolved. I tried it on both my laptop and my desktop but it yielded no difference.

[2016-07-11 19:31] cicerone-f commented on #83
+1

[2016-07-11 21:46] #83 closed

[2016-07-12 06:28] sunojvijayan opened #134 "While cropping can we give default size and location for the cropper"
Hi Can I set a default size and location for the cropper to appear. Like I want the cropper to appear at say y=100px, x= 50px and what the cropper to have length 400px and height 150px

[2016-07-12 07:45] CrackerakiUA commented on #134
http://codepen.io/Crackeraki/pen/YqKwzZ
this should work for you. Reopen if not.

[2016-07-12 07:45] #134 closed

[2016-07-12 09:41] sunojvijayan commented on #134
I was able to change the location using

area-init-coords="{x: 0, y: 0}"

But I need to change the location based on the screen width and height. So is there a way we can change this dynamically like

area-init-coords="{{cropLocation}}"

and in controller

$scope.cropLocation = "{x: 0, y: 0}"

Can this be done

[2016-07-12 09:44] sunojvijayan opened #135 "While cropping can we give default size and location for the cropper"
I am creating a new issue as I cannot reopen #134

I was able to change the location using

area-init-coords="{x: 0, y: 0}"

But I need to change the location based on the screen width and height. So is there a way we can change this dynamically like

area-init-coords="{{cropLocation}}"

and in controller

$scope.cropLocation = "{x: 0, y: 0}"

Can this be done

[2016-07-12 09:49] sunojvijayan commented on #135
Okay got it with this

area-init-coords="{x: cropLocation.cropTop, y: cropLocation.cropLeft}"

$scope.rectangleTop = 100;
    $scope.rectangleLeft = 100;

[code]

Thanks. And sorry for the trouble.

[2016-07-12 09:49] #135 closed

[2016-07-12 14:30] CrackerakiUA commented on #134
i am not using area-init, haven't build it, so i don't know about this option. In the example i send you exists cropobject, which provide you the controll over croparea from your controller.

[2016-07-12 15:40] sunojvijayan commented on #134
Solved it with this. Thanks. ##135

[2016-07-12 20:28] DmitryVolkovTulaco opened #136 "Cant import library into project"
Using webpack + es6 + angular.
Expression import ngImgCrop from 'ng-img-crop-full-extended'; shows me an error 'Module not installed'.
Possible solution - create index.js file in root folder, with following code - require("./compile/unminified/ng-img-crop.js");
module.exports = "ngImgCrop";

But in result I still have an error in browser ReferenceError: ColorThief is not defined.
Any ideas?

[2016-07-12 21:05] CrackerakiUA commented on #136
i am not user of webpage, i can't help.

[2016-07-15 23:04] rickerd commented on #114
Close plz because its already merged

[2016-07-15 23:08] rickerd commented on #128
Cool, can we do something with it @CrackerakiUA ?
I think it can be closed.

[2016-07-16 18:58] ignacio-chiazzo commented on #128
@rickerd @CrackerakiUA https://github.com/CrackerakiUA/ngImgCropFullExtended/pull/137

[2016-07-17 19:51] CrackerakiUA commented on #128
@ignacio-chiazzo i have checked this before, i can't see the use of this. But if others need it, i could accept PR for sure.

[2016-07-17 19:51] #128 closed

[2016-07-17 19:52] #114 closed

[2016-07-17 20:47] rickerd commented on #108
Hi @patrickmichalina
I updated the Wiki with your information.
https://github.com/CrackerakiUA/ngImgCropFullExtended/wiki/Installing

I hope this helps other developers that use JSPM in the future.

Thanks

[2016-07-17 20:47] #108 closed

[2016-07-17 20:49] rickerd commented on #136
Hi @DmitryVolkovTulaco

@CrackerakiUA and i haven't worked with webpack.
I personally don't know how to help you with this problem.

Maybe it's an option to ask this on Stackoverflow? And if you have an answer, reopen this issue with a solution.

Sorry but the bets of luck to get it fixed.

[2016-07-17 20:49] #136 closed

[2016-07-17 20:51] rickerd commented on #133
@CrackerakiUA are there any major diffrences between this fork and the original version?
I still convinced that the libs. should be merged and that we go furter with 1 big and good plugin.

[2016-07-17 20:55] #125 closed

[2016-07-17 21:04] rickerd commented on #130
@abelbarbosa have you already found a solution?
I think that the crop is made from a base64 / png and png are bigger then jpg.

I'm cleaning up the issues to focus on the issues and make the product better.
If you still have questions feel free to re-open the issue.

[2016-07-17 21:04] #130 closed

[2016-07-17 21:16] rickerd commented on #129
In what version of Chrome does this happen?
There is an test folder that has all the new code and i don't see this coming up?

If there you really have troubles with the urlCreator please create a PR with your fix.

[2016-07-17 21:39] rickerd commented on #78
Add me "Rickerd". I don't know what Trello is but i will give it a try.

[2016-07-17 21:40] rickerd commented on #109
@CrackerakiUA already found time?

[2016-07-17 23:05] rickerd commented on #40
@loupiz can you make a PR with the fix in it?
I hope it can resolve alot of issues with other developers.

[2016-07-17 23:28] rickerd commented on #84
The issue is not related to the cropper but rather to your css / html.
I will close this issue for now.

If you have a link where we can test and see the results i can try and help you.
Maybe send a message on our chat to get quicker help.
https://gitter.im/CrackerakiUA/ngImgCropFullExtended

[2016-07-17 23:28] #84 closed

[2016-07-17 23:33] rickerd commented on #35
Is this issue still present? Is the code already tagged from master of issue #96?
I would like to close this issue its been open since januari.

[2016-07-18 01:21] CrackerakiUA commented on #133
@rickerd alex is not active, he is not merging. We have added many functionality to the plugin. @MaximilianLloyd to let us help you, you have to create a codepen and reproduce the issue you have. Ovewise it could be some other issue on your project.

[2016-07-18 01:26] CrackerakiUA commented on #78
It's an really awesome tool, i am using it for many projects. On this cropper i am not active using it right now.

[2016-07-18 01:31] CrackerakiUA commented on #84
@wickY26 check our latest PR, maybe it will help you out. It automatically add size to cropper.

[2016-07-18 01:32] CrackerakiUA commented on #109
@rickerd not yet.

[2016-07-18 06:45] rickerd commented on #98
Since it has been over 2 months and nobody has any knowlegde about the code i'm closing the issue.

[2016-07-18 06:45] #98 closed

[2016-07-21 02:36] cleever commented on #48
Any update on this ?

[2016-07-21 17:17] rickerd commented on #48
I think no. @CrackerakiUA did you do any research on Angular 2.0?

[2016-07-21 19:51] #110 closed

[2016-07-21 23:36] CrackerakiUA commented on #48
@rickerd same as before, my team tried couple projects on ng2. They are changing things, we didn't like it. We decide to have a look again after 6 months.

[2016-07-25 15:06] joelcdoyle opened #140 "Firefox Zero Width/Height Canvas Print Issue"
Hello. I came here from the original ngImgCrop repo. Noticed the request for them to drop the repo and transfer here due to inactivity and thought I would share this issue here as well as there.

This is a weird one, but it is worth mentioning. There is a [bug in Firefox](https://bugzilla.mozilla.org/show_bug.cgi?id=1019551) that prevents a page from printing if there is a canvas element with widt

[2016-07-25 15:18] joelcdoyle commented on #140
Ugh. Looks like I can simply use an ng-if to determine whether or not to show the directive at all. Problem solved.

[2016-07-25 15:18] #140 closed

[2016-07-29 04:52] bazaglia commented on #130
Same issue here. Resulting image is much bigger then original one. Any solution? 😢

[2016-07-29 09:39] abelbarbosa commented on #130
@bazaglia The only solution I've found was using [imagemin](https://github.com/imagemin/imagemin) with ngImgCropFullExtended. I'm currently using imagemin-mozjpeg and imagemin-pngquant plugins - something like this:

[code]

Where "[input]" is an array of images and "output" is the output directory.

Hope it helps. Cheers.

[2016-07-29 16:00] achubai commented on #133
I have the same issue

[2016-07-31 12:53] CrackerakiUA commented on #133
@achubai good, please create codepen so we can see it too.

[2016-08-01 11:56] achubai commented on #133
@CrackerakiUA
I can't reproduce it on codepen, maybe reason in webpack, and that I have to use [this](https://github.com/CrackerakiUA/ngImgCropFullExtended/issues/104#issuecomment-223236336)

[2016-08-01 13:22] CrackerakiUA commented on #133
If so, then i can't help you out. I am not user of such things.

[2016-08-01 13:22] CrackerakiUA commented on #133
But you are welcome to modify our lab so it continue to work on codepen and on your projects.

[2016-08-03 21:25] angelortiz-dev commented on #78
Hello, please add me aandresortiz, I can add a PR with the fix about this issue https://github.com/CrackerakiUA/ngImgCropFullExtended/issues/129.

[2016-08-03 21:28] rickerd commented on #78
Add the PR. Fork this repo and make a PR.
We're not using Trello actively.

We do have chat on Gitter that we actively use.

[2016-08-03 21:34] aandresortiz commented on #78
thanks for your reply, the PR is added.

[2016-08-03 21:54] rickerd commented on #78
yw, the repo owner is the one to accept or reject PRs.
So far to me it looks okay, as long as the create url still works for all browsers.

[2016-08-09 11:55] SakshiParakh commented on #133
@CrackerakiUA
It crashes foe me at the startup as well, with the error message: "Uncaught TypeError: Cannot set property 'MegaPixImage' of undefined"

[2016-08-09 12:57] CrackerakiUA commented on #133
@SakshiParakh Will love to fix the codepen you gonna create to show me the error.

[2016-08-16 21:57] #109 closed

[2016-08-16 22:24] CrackerakiUA opened #144 "All options in one variable"
Would be nice to have one object with all options in it :)

[2016-08-17 07:22] rickerd commented on #144
Like the cropject?

[2016-08-17 07:27] CrackerakiUA commented on #144
yes, like that but to have all options. Html tag would be cleaner.

[2016-08-17 13:52] bojan-stankovic opened #145 "Dynamic result image size (rectangular crop with aspect ratio)"
I see that after crop if I haven't specified the result image size, I will get a square image with the excess becoming transparent. My question is: is it possible to have dynamic result image size based on the cropped area selected?

[2016-08-17 15:10] rickerd opened #146 "New tag/release? 0.5.5"
The compiled version of 0.5.5 wasn't compiled yet but the bower and all was updated in the master branch.

I build all the files so the new 0.5.5 version is the new version.

Can you @CrackerakiUA make a new release and tag?

[2016-08-17 15:26] CrackerakiUA commented on #145
something like this? http://codepen.io/Crackeraki/pen/XmEdPx
It give you scale of crop area.

[2016-08-17 15:26] CrackerakiUA commented on #146
make 0.5.6

[2016-08-17 15:34] bojan-stankovic commented on #145
I was talking about this: http://prntscr.com/c6wndo
I set the aspect ratio to be 3, haven't specified result image size, and i get the cropped image + the transparent part added to make it square. I was wondering can I get the result image without the transparent part without specifying the width and height.

[2016-08-17 20:48] CrackerakiUA commented on #145
strange, shouldn't work like that. To be honest, when i set aspect ration, i always set result size. Need to fix that.

[2016-08-17 20:50] rickerd opened #147 "Github pages not updated"
I got a message that there was something wrong with the Github pages after i updated it.

Can you check it @CrackerakiUA

[2016-08-17 20:52] rickerd commented on #146
Done

[2016-08-17 20:52] #146 closed

[2016-08-17 20:52] rickerd commented on #147
Fixed with new commit and push

[2016-08-17 20:52] #147 closed

[2016-08-18 09:05] CrackerakiUA commented on #145
By the way, if you fix it we would love to accept your PR

[2016-08-18 09:10] bojan-stankovic commented on #145
If I find time, I will definitely check it out. Currently my workload is overwhelming. For now I will stick to setting result size.

Btw thank you for your quick response.

[2016-08-24 12:29] cxnunes opened #148 "what is the best way to reuse the crop area?"
Hi, I am using your plugin for edit and crop an array of images but, for each one I am saving the cropject in order to edit each image from the last crop option. I am setting these attributes from the scope object that i change according each pictures, but sometimes the size of the crop area doesn't change when i set these attributes. Could you give me an help?
result-image-size="{w:main.cropper.c

[2016-08-24 15:02] rickerd commented on #148
Is it not better to use another language to crop An array of images?
Like php?

[2016-08-24 15:07] cxnunes commented on #148
So forget the array part. My biggest question is to keep the my crop area options in a scope object and when open the cropper again I could set the options (position and size of the crop area). The position is working well but the set of the size is not working properly.

[2016-08-24 20:53] CrackerakiUA commented on #148
from your code i can see that you are not using array of images. Please provide some codepen so we can check what you want to success.

[2016-08-24 22:14] cxnunes commented on #148
With the array I just want to say that I have a set of images that I will crop in different times manually. So each one per time. My question is just if I save the cropject that you provide from the directive, for each image after cropped it, the next time I want to edit the crop area of a respective image I want to continue from the last "crop state" that is the cropject that I saved before. So w

[2016-08-25 05:43] rickerd commented on #148
I think from your text / story that you need to save the last state yourself.
The complete cropject that is used and returned needs te be saved in 1 piece everytime.

The logic isnt in the cropper but in your own JavaScript.

Save the object in your images array but use angular.copy() to NOT reffer to the same object or variables.

[2016-08-25 08:50] cxnunes commented on #148
Yes, that part of saving the cropject I am already doing it.

My question is which attributes on the img-crop directive should be set everytime I want to set the new crop area according the saved cropject?

[2016-08-26 11:01] CrackerakiUA commented on #148
make multiple ng-crop and toggle them with ng-if.

[2016-08-30 09:38] rickerd commented on #46
I've looked into this feature but all the elements are being drawed on the fly.
All is canvas...

I don't see an option to set this dynamically.
However, there could be multiple styles or definitions of the cropper.

[2016-08-30 09:46] rickerd commented on #25
Is this already fixed? @CrackerakiUA i think it is.. But a PR #51 says there is still something wrong?

[2016-08-30 09:54] rickerd opened #151 "New repo to drop fork"
@CrackerakiUA i've asked @janruehling to drop his original ngImgCropFullExtended repo so we can use this repo name and not to have a fork anymore.
We do alot of development on the plugin and since the original person doens't answer.. i think it's the best option.

We can start a clean project on our own repository.

~~https://github.com/janruehling/ngImgCropFullExtended/issues/1#issuecomment-24339

[2016-08-30 09:55] janruehling commented on #151
@rickerd ... done

[2016-08-30 09:57] rickerd commented on #151
@CrackerakiUA  I've "claimed" the repo name. Gimme a heads up if i need to delete the repo so you can make it your own.
Or if you say screw it we can go on under my name.
I personally don't care.

[2016-08-30 09:59] janruehling commented on #151
I just deleted my repo ... go for it under your name if you like.

I don't use Angular anymore ... so no need to keep it attached to my name :-)

[2016-08-30 10:00] rickerd commented on #151
What do you use nowadays @janruehling?

[2016-08-30 10:05] janruehling commented on #151
CycleJs Diversity -- with RxJs v5

[2016-08-30 11:11] rickerd commented on #46
New border in v0.6.0

[2016-08-30 11:11] #46 closed

[2016-08-30 11:11] CrackerakiUA commented on #46
Yes, create couple predefined. Still i don't see someone needs it exept @gr7egor7

[2016-08-30 11:11] CrackerakiUA commented on #46
Nice @rickerd

[2016-08-30 11:51] #151 closed

[2016-08-30 12:00] rickerd opened #152 "New tag 0.6.0"
@CrackerakiUA i don't have those rights

[2016-08-30 12:23] CrackerakiUA commented on #152
@rickerd you mean release. I will make one.

[2016-08-30 12:26] #152 closed

[2016-08-30 12:27] rickerd commented on #152
No i mean tag. So bower can fetch this.
A release is to download one

[2016-08-30 12:31] CrackerakiUA commented on #152
Bower fetch it when i make release. Check in 30 mins.

[2016-09-01 07:20] TM1584875DM opened #154 "Can't install with angular 1.4.12"
In bower.json:
"dependencies": {
	"angular": "1.4.0"
}
why not use "~1.4.0" ? Or angular version must be "1.4.0" ?

[2016-09-01 07:32] rickerd commented on #154
Yesterday i've also seen this dependency and scratched my head.
I personally use angular 1.5.x in my project and it all works fine.
Do you @CrackerakiUA know why its failing?

I am working on a compile and test in Travis so im hoping to make better coverage and tests along the way.

[2016-09-01 07:43] rickerd commented on #148
Closing the issue since it has no issue towards the repo itself

[2016-09-01 07:43] #148 closed

[2016-09-01 07:47] rickerd commented on #133
Closing issue for the reason it cannot be reproduced by us or other people in Codepen.
I think it's project depended

[2016-09-01 07:47] #133 closed

[2016-09-01 07:50] rickerd commented on #129
Closing no error in Chrome is happening.
Other people also had problems but use the lib. correctly now.
https://github.com/CrackerakiUA/ngImgCropFullExtended/pull/142#issuecomment-241171440

[2016-09-01 07:50] #129 closed

[2016-09-01 07:52] rickerd commented on #95
Closing since starter does not respond and other people cannot re-produce the bug

[2016-09-01 07:52] #95 closed

[2016-09-01 08:12] rickerd commented on #80
No need to have a fix since the cropper knows what to load if no area-type is set as user provided as answer.

[2016-09-01 08:12] #80 closed

[2016-09-01 08:13] rickerd commented on #93
Can you make a Codepen? I don't use the Colorthief

[2016-09-01 08:15] rickerd commented on #82
No response, closing issue

[2016-09-01 08:15] #82 closed

[2016-09-01 08:43] rickerd commented on #72
Bower is already done and updated automatically due to Github.
Npm is done right by you, i don't have rights to do a npm publish but i would like to... so add me :laughing:
Meteor is a diffrent framework to build apps with..

I think... we can close the issue

[2016-09-01 08:47] rickerd commented on #60
@anitawlosek can you try to test it again?
The code you showed is changed and the `.length - 1]).remove();` is removed.
Maybe it's working now.
I'm closing the issue for now, if the bug is still there you can open it again.

[2016-09-01 08:47] #60 closed

[2016-09-01 08:49] rickerd commented on #40
@DallanQ can you make a PR? Even it's not the bets piece or right fix.. IF it fixed something it better then no fix.

[2016-09-01 08:50] rickerd commented on #38
Fixed long ago

[2016-09-01 08:50] #38 closed

[2016-09-01 08:51] rickerd commented on #35
No response... closing the issue

[2016-09-01 08:51] #35 closed

[2016-09-01 08:55] rickerd commented on #34
The exif.js is a library and should not be changed i think, unless there's a real bug in the library of exif.js
Also i want to install these dependencies instead of including them in our repo.

Closing due to no response + not changing a 3rd party lib.

[2016-09-01 08:55] #34 closed

[2016-09-01 09:22] CrackerakiUA commented on #154
first time see this also )
i am also using latest angular 1.

[2016-09-01 09:24] rickerd commented on #154
I will update this in master

[2016-09-01 09:24] #154 closed

[2016-09-01 09:26] #86 closed

[2016-09-01 09:56] rickerd opened #157 "Add repo to Travis"
Can you add this repo to [Travis Ci](https://travis-ci.org/)?
And invite me to the Travis repo so i can see and test stuff.

[2016-09-01 12:50] #72 closed

[2016-09-01 12:51] CrackerakiUA commented on #72
How can i give you rights to publish in npm?

[2016-09-01 12:54] rickerd commented on #72
I don't know? Maybe on the NPM website?

[2016-09-01 12:55] CrackerakiUA commented on #157
Please do. I don't use it.

[2016-09-01 13:00] rickerd commented on #157
You need to do this, i am not a owner of the repository.
And add me to Travis so i can see the repo too

[2016-09-02 08:22] CrackerakiUA commented on #157
How do i give you access?

[2016-09-02 08:23] rickerd commented on #157
I dont know exactly. Did you already added your repo to Travis?

[2016-09-02 08:23] CrackerakiUA commented on #157
https://travis-ci.org/CrackerakiUA/ngImgCropFullExtended

[2016-09-02 08:29] CrackerakiUA commented on #157
there is nowhere where i can give you access
i think it's public data, all can see it. On next push if file is there, you will see results there.

[2016-09-02 08:30] rickerd commented on #157
Perfect. I will try something.

[2016-09-02 18:15] simison commented on #154
Hi! Does this work with Angular v1.5.x? :-) If it does, bower could be updated to reflect that.

[2016-09-02 18:54] rickerd commented on #154
Yes + its already updated.
Check the master branch and bower.json file

[2016-09-02 19:06] simison commented on #154
`~1.4.0` matches only up to Angular `1.4.x`, not Angular `1.5.x`. You could require e.g. `>=1.4.0 <1.6.0`, `>=1.4` or just `1.*` instead.

Newest Angular v1 is `1.5.8`, `.9` just around the corner.

https://github.com/CrackerakiUA/ngImgCropFullExtended/blob/master/bower.json#L50

http://semver.org/
http://jubianchi.github.io/semver-check/

[2016-09-02 19:08] rickerd commented on #154
Okay, make a PR for it.
Sorry i thought it worked with ~1.4

We can use your help

[2016-09-02 19:14] simison commented on #154
^ done. 🍻

[2016-09-02 19:24] simison commented on #25
@rickerd looks like mentioned issue with blobs is already being handled: https://github.com/CrackerakiUA/ngImgCropFullExtended/blob/master/source/js/classes/crop-host.js#L482-L484

[2016-09-02 22:55] #25 closed

[2016-09-02 22:57] rickerd commented on #157
Still jshint is failing but the build says passed. I want 100% jshint or else fail.

[2016-09-03 11:37] #157 closed

[2016-09-03 12:28] rickerd commented on #157
Its all fixed now 👍
Travis will fail if the standards are not met in JSHint. And will ignore the 3rdparty libs.

[2016-09-03 15:06] CrackerakiUA commented on #157
Cool, i will check it when i can.

[2016-09-04 20:11] simison opened #161 "Move to an organisation?"
This seems to be pretty well maintained lib! How about making something about this:

![screen shot 2016-09-04 at 23 10 03](https://cloud.githubusercontent.com/assets/87168/18233612/bc9b2150-72f4-11e6-8462-b3b141d63579.png)

E.g. I wanted to do code-search for something in this repo and it's not possible for forks in GitHub. :-(

Also adds credibility => that adds usage => adds more PRs. We'd like

[2016-09-04 20:22] rickerd commented on #161
I'm trying my best to make something of the repo.
@CrackerakiUA is the original forker and since a short while im contributing.
I've added a detailed demo page and optimized the bower, npm and gulp files. (but with a little bug that you showed me)

But if i understand you correctly, you want to add this repo to AngularUI and make it part of the AngularUI family.

[2016-09-05 09:38] CrackerakiUA commented on #161
It will be honor for us to be part of family AngularUI.

[2016-09-05 09:53] simison commented on #161
- Simply transferring to `github.com/CrackerakiUA/newname` wouldn't work: https://help.github.com/articles/about-repository-transfers/
- You'd have to create a new repo either at `github.com/angular-ui/newname` or `github.com/CrackerakiUA/newname`: and then do something like this: https://gist.github.com/manakor/8972566
- Contact Angular-UI guys if you're interested: https://groups.google.com/foru

[2016-09-05 09:58] CrackerakiUA commented on #161
ok thanks @simison

[2016-09-05 19:49] CrackerakiUA commented on #161
https://groups.google.com/forum/#!topic/angular-ui/NdkT-f2Bhh8

[2016-09-05 19:57] thierryskoda opened #162 "Amazon S3 CORS"
Hi!

I'm having an error using this library with Amazon S3. If I want to use the directive with an url from Amazon S3 it gives me this error :

```Image from origin 'https://MY_S3_BUCKET.s3.amazonaws.com' has been blocked from loading by Cross-Origin Resource Sharing policy: No 'Access-Control-Allow-Origin' header is present on the requested resource. Origin 'http://localhost:8000' is therefore no

[2016-09-05 20:24] rickerd commented on #162
Amazon is the origin, so the request header should be allowed there not on your localhost

[2016-09-05 20:32] thierryskoda commented on #162
@rickerd Do you have any example? Does the CORS need to be enable server side? Or I need to do some setup in my Angularjs app?

Thank you again!

[2016-09-05 21:11] thierryskoda commented on #162
Is this because the library is using Canvas and this is the problem?

[2016-09-05 21:24] CrackerakiUA commented on #162
You can access to your image via web browser url? Try also anonymous browser.

[2016-09-07 18:09] hughanderson4 opened #163 "Result is "image/png" when "image/jpeg" was requested via resultImageFormat"
When I send in the option for `result-image-format='image/jpeg'` it is ignored by ngImgCropFullExtended.

Here is Codepen with the issue:
http://codepen.io/anon/pen/WGvjRX

You see the `result-image-format` is set to `image/jpeg`.  Go ahead and do a crop.  Now inspect element on the cropped image and you see the format is actually `image/png`

Similarly, the options for `resultImageQuality` and `r

[2016-09-07 18:28] FirstVertex commented on #163
ok, i see that it is requiring a binding for these parameters.  so when i create a string value for "image/jpeg" in my viewmodel, and bind it to the option, it works.

i guess i did not understand that this option requires a binding.  is there any way to just pass a string in, straight from the markup?

here is Codepen that works.  it uses binding for these parameters
http://codepen.io/anon/pen/bw

[2016-09-07 19:16] hughanderson4 opened #164 "Receive Js error on IOS Chrome"
This is Example page for rectangular crop: http://codepen.io/Crackeraki/pen/zvWqJM

I created fork of it.  In my fork only change is addition of window.onerror handler to throw alert.  This is only way to see Js error on mobile browser
http://codepen.io/anon/pen/VKLWvb

Steps to Repro:
1) Use Chrome on iOS
2) Visit the the forked Codepen http://codepen.io/anon/pen/VKLWvb
3) Browse for image file
4

[2016-09-07 20:12] rickerd commented on #163
Okay, so in the end there's no problem?
Only a misunderstanding i assume.

[2016-09-07 20:14] rickerd commented on #162
Closing since the issue is not in the library.
Please see Gitter to get a helping hand.

[2016-09-07 20:14] #162 closed

[2016-09-07 21:04] hughanderson4 opened #166 "cropject not initialized when receiving on-change notification for the first time"
cropject is undefined first time i receive on-change notify.

i have solution for this.  PR is forthcoming...

[2016-09-07 21:14] #166 closed

[2016-09-07 23:08] #164 closed

[2016-09-07 23:34] FirstVertex commented on #163
yes. sorry for the confusion. it works fine when i bind the value to controller.

[2016-09-07 23:35] #163 closed

[2016-09-13 17:15] tmclemons opened #168 "Aspect Ratio Bug"
I am finding limitations to the aspect ratio attribute for the ngimgcrop directive. If the image is too narrow or the aspect ratio is too long for example 4:1, (width : height), the cropper on the canvas starts breaking or blacking out sections of the result image.

Please advise.

<img width="519" alt="screen shot 2016-09-13 at 1 18 33 pm" src="https://cloud.githubusercontent.com/assets/2036192/1

[2016-09-13 19:20] CrackerakiUA commented on #168
@tmclemons ok, i see the issue. I will checkup.

[2016-09-14 13:45] tmclemons commented on #168
@CrackerakiUA thanks, do you have any guess where a fix for this may lie in the code?

[2016-09-14 14:15] CrackerakiUA commented on #168
@tmclemons this looks to be some sort of fixing going off crop area from the image. Looks to take more then it needs. Which is kinda strange, i will checkup when i can. This is urgent for you?

[2016-09-14 16:49] rickerd commented on #161
What about this? Im not seeing any activity, what can/should we do?

[2016-09-14 16:59] CrackerakiUA commented on #161
@rickerd i guess they don't need cropper.

[2016-09-14 17:00] rickerd commented on #161
I think so too. So why... not do it our own :D
Screw the fork and start a new name / cropper with a own organisation.

[2016-09-14 17:03] CrackerakiUA commented on #161
@rickerd i am planning too, but not now. Going to make allot of modifications, on that point i will create new lib. At the moment people are following this one, so i guess i will keep it for now.

[2016-09-14 17:05] rickerd commented on #161
What could be done is create a new lib. and remove this one (commits and README) and put in the new README that the repo has been moved.
Maybe that's an option.
I think it better to close this one for now..

[2016-09-14 17:08] CrackerakiUA commented on #161
I will think about it. My problem is that we will change bower install and on older project that can be an issue.

[2016-09-14 19:53] tmclemons commented on #168
@CrackerakiUA semi urgent, we want to use this feature for our app, but we need to do a fixed rectangular cropping  at an aspect ratio for 1920px by 250px. If we cannot solve this issue we may either disable image cropping or have to go with another image cropping solution :(. Any help would be appreciated.

[2016-09-16 07:24] carloscuatin opened #170 "Add support for commonjs ?"

[2016-09-16 08:04] CrackerakiUA commented on #170
Please do if you need it, i don't even know how it works.

[2016-09-19 10:58] ozknemoy opened #171 "Cropper doesn't work on most Android mobile browsers"
it is real to change situation?

[2016-09-19 11:04] rickerd commented on #171
Testes on iOS 10.0.1 with safari 10
Works like a charm
![Screenshot of iOS 10 cropper](http://i.imgur.com/jKb27Qk.jpg)

[2016-09-19 12:25] ozknemoy commented on #171
i have been testing on android: mozilla, chrome, yandex and CM. works only on chrome. appeared message undefined and nothing more

[2016-09-19 12:26] rickerd commented on #171
Which version of the cropper are you using?
And what does your console say?

[2016-09-19 12:29] ozknemoy commented on #171
6.1 localy and from http://codepen.io/Crackeraki/pen/XmEdPx . console keeps silent

[2016-09-19 12:33] rickerd commented on #171
Weird, it works on my phone.
I cannot reproduce since i don't own Android products.
Maybe you can download locally and debug the translation messages as that is the last feature we added.

[2016-09-19 12:45] ozknemoy commented on #171
v5.0 also not work for me on mobile. v6.1 i installed only 3 hours ago

[2016-09-19 12:47] rickerd commented on #171
Plz help us find out what is causing this.
Personally i don't know what could be wrong but if you install it locally and run the example in the example folder it should be easier to debug where it goes wrong

[2016-09-19 13:32] ozknemoy commented on #171
mozillas console showed error: palette is null. but only once

[2016-09-19 14:21] ozknemoy commented on #171
very strange. when i click button test image it works. if i choose image from disk it do not
by the way image fills only one quarter its field
![123](https://cloud.githubusercontent.com/assets/16036508/18635281/8d4b362c-7e95-11e6-9bb2-fdaadff95cef.png)

[2016-09-19 14:25] rickerd commented on #171
I know, i haven't found out wat is causing this.
I use the cropper on a project too and it doesn't go crazy like this.

[2016-09-19 15:38] AlexSwensen commented on #171
Can you confirm you have the latest version of [Android System WebView](https://play.google.com/store/apps/details?id=com.google.android.webview&hl=en) installed on your devices?

[2016-09-19 16:36] ozknemoy commented on #171
no i am not have it.  is this  a cause?

[2016-09-19 16:38] AlexSwensen commented on #171
I would install it and see if things improve.

[2016-09-19 19:42] ozknemoy commented on #171
tried on two android 5  phones with WebView. one is ok, second is not

[2016-09-19 19:43] AlexSwensen commented on #171
Which phones? Out of curiosity.

[2016-09-20 06:23] ozknemoy commented on #171
first was Sony Xperia d2303, second - huawei p8

[2016-09-21 06:44] adrienbourgeois commented on #162
I'm having the same issue with an amazon S3 bucket as well.
When I try to access the image in an incognito chrome window the image is loading properly.
So I assume the error is from the library.

[2016-09-21 07:03] rickerd commented on #162
Are you sure that the headers are correct?
Loading An image trough a browser or in the cropper is different.

[2016-09-21 07:07] adrienbourgeois commented on #162
Hi @rickerd , which headers are you talking about?

Here is a sample of my code:

[code]

fileInfo.url is a amazon s3 url that looks something like this:
https://s3-ap-southeast-2.amazonaws.com/myhost.com/foo/bar/58131/1474440992/original/my_pic.jpg?1474440992

This is loading fine in a browser window.

[2016-09-22 19:40] daangeerdink commented on #168
+1 I also have this issue, using 5:1 aspect ratio.

[2016-09-23 01:00] adrienbourgeois commented on #162
This plugin is performing a "getImageData" javascript call. I did my homework and from what I understand, by default, that call doesn't allow CORS because it could potentially be used to show images from the hard-drive of the users. That is why if the resource headers don't explicitly allow CORS that error will be thrown. In my scenario, the resource is loaded from our amazon S3 server, so I've re

[2016-09-23 16:04] IuriiKryventsov commented on #170
It works, but i have some troubles with Color Thief. When i tried to move crop area, i've got next error:

[code]

But app doesn't crash.

[2016-09-23 16:05] carloscuatin commented on #170
@IuriiKryventsov ColorThief is not export for commonjs !

[2016-09-26 13:45] aandresortiz opened #173 "Set aspect ratio with a passing variable"
hello guys, I cannot set the aspect-ratio using a variable like this:

[code]

This only works if aspect-ratio is assigned directly:

[code]

This is something I can fix from my code, or needs to be fixed in the directive img-crop?

[2016-09-26 13:52] #173 closed

[2016-09-26 14:14] rickerd commented on #173
I also use aspect-ratio and this is applied as a variable in my code.

[code]

[2016-09-26 14:15] #161 closed

[2016-09-26 16:00] hughanderson4 opened #174 "Cropject rounding error affecting width"
In my application I have a minimum image size of 300x300.  I give realtime feedback if the cropped image is too small.  I do this by looking in `cropject` during `on-change`.

The problem is, frequently the dimensions in the cropject are 299x300.  There seems to be a rounding error that is setting the `cropject.cropImageWidth` 1px too small in the width.  Sometimes it is also 299x300 when I initia

[2016-09-27 07:18] lermion commented on #168
- 1 I also have this issue using 1.7 aspect ratio, i see this bug if image have resolution 750 x 1334, can you show me which part of code is response for it? maybe i can fix it

[2016-09-27 15:35] thierryskoda commented on #121
+1

[2016-09-28 06:58] metodribic opened #175 "License link in README is broken"
This is not a major thing, but still. License link in README at the bottom is broken. It points to blob/master/LICENSE but it should point to directly to LICENSE I believe.

[2016-09-28 08:50] CrackerakiUA commented on #175
Thanks

[2016-09-28 08:50] #175 closed

[2016-09-28 14:00] omhybrid opened #176 "not working on android device"

[2016-09-28 18:16] ryanagler opened #177 "Rotate Image inside Crop Container."
Does anyone know how you could go about rotating the canvas once an image is loaded?  Often times pesky users will upload portrait images that we would like to rotate in the control before cropping, and it would be great if we could let them both rotate and crop in the same place.

[2016-09-28 23:01] CrackerakiUA commented on #177
That's an interesting question.
Generally you can rotate image inside an canvas, but to make it as option in cropper, hmm. Need to think how can that be done.

[2016-09-28 23:41] FirstVertex commented on #177
I already implemented Rotate in my application. I am happy to share it with you 😺

Here is a Codepen that shows how to do it:
http://codepen.io/HugeHugh/pen/NRgmWm

It is based on the SO post found here
http://stackoverflow.com/questions/17040360/javascript-function-to-rotate-a-base-64-image-by-x-degrees-and-return-new-base64

[2016-09-29 08:45] CrackerakiUA commented on #177
do you have implemented it inside our cropper? If so can you make PR? In code pen i see script outside plugin. If you have it the same way on your project i will add it.

[2016-09-29 08:54] CrackerakiUA opened #178 "Beautify Official webpage"
We need to fix http://crackerakiua.github.io/ngImgCropFullExtended/
Image cropping container is way to small.
Also auto rendering can be enabled by default.
Add logo.

[2016-09-29 09:08] CrackerakiUA opened #179 "Add image resize option before opening in crop container."

[2016-09-29 22:56] FirstVertex commented on #177
hi, the implementation that i did for my app was in my controller. this worked fine for us so we can have the rotate buttons styled to match our app.  i did not modify the plugin.  it works pretty much the same as you see in the Codepen.  sorry, i don't have a PR available for this right now.  i guess if you want to make this part of the cropper, there needs to be some built-in rotation buttons in

[2016-09-29 23:36] CrackerakiUA commented on #177
yes, i will make it.

[2016-10-03 17:08] angelortiz-dev commented on #173
thanks, was a missing injection in directive's scope

[2016-10-03 19:53] aandresortiz opened #180 "No function was found that matched the signature provided"
Hello guys, I have an error when I try to pass a File object to the img-crop directive, this is my plunker: https://plnkr.co/edit/PYuhtG3A0G3demFKO7Hf?p=preview

The error is:

[code]

I will appreciate any help.

[2016-10-04 09:16] vincaslt opened #183 "Does not work with internet explorer 11"
I cannot successfully implement crop tool in internet explorer 11, because of `InvalidStateError` poping up every time. The error can also be seen in examples provided in readme: `http://codepen.io/Crackeraki/pen/XmEdPx`

I have tried several different versions, and I find, that this particular error is not present until around version ~0.4.4. However, it does not work too, because it treats optio

[2016-10-04 10:05] CrackerakiUA commented on #183
@vincaslt i just opened my internet explorer and everything worked smoothly on the codepen.

[2016-10-04 16:50] vincaslt commented on #183
Can I ask if you're using windows 10?

Because it's funny, on windows 10 with IE 11 I am not getting any errors. At work on windows 7 with IE11 I get the same error as on IE10 on windows 10...

[2016-10-04 16:53] CrackerakiUA commented on #183
yes, i am using windows 10

[2016-10-04 16:55] CrackerakiUA commented on #183
install windows 10 where you have windows 7 xD

[2016-10-04 16:55] vincaslt commented on #183
Yeah, so I thought. Try compatibility mode for IE10 to see the error I'm having on windows 7.

It say's it's on line 1722: `http.responseType = 'arraybuffer';`
SCRIPT5022: InvalidStateError

[2016-10-04 16:56] CrackerakiUA commented on #183
need to find old laptop to check it.

[2016-10-04 16:57] vincaslt commented on #183
Well to be sure, I guess. But for a quick look, you can change IE version via developer tools

[2016-10-05 19:23] angelortiz-dev commented on #180
This happens when I use bindToController or scope definition, in that case the error disappear if I convert the blob into a file in that line:

[code]

but obviously that needs the correct contentType and filename.

[2016-10-11 18:25] bmwertman opened #184 "result-image-quality is not reducing my image size"
I had originally been using [ngImgCrop](https://github.com/alexk111/ngImgCrop) the non-full extended version. I moved to `ngImgCropFullExtended` because I needed some of the other features.

With `ngImgCrop` I was setting `result-image-quality=0.6` in my template along with `result-image-format="image/jpeg"` and getting my cropped image size down to around 5-7KB.

After moving to `ngImgCropFullExt

[2016-10-11 19:50] inv-egrant opened #185 "Centering the cropped image in the result-image-size"
Looking over the options I am not seeing one where if the crop is smaller than the result-image-size it will place the crop in the center of the result-image-size.

[2016-10-11 21:23] CrackerakiUA commented on #184
Interesting. I will do tests.

[2016-10-11 21:25] CrackerakiUA commented on #185
You are welcome to add one.

[2016-10-12 14:25] bmwertman commented on #184
Thanks let me know what you find or if you need some more info.

[2016-10-13 10:26] mitomm commented on #46
I would really like that feature too.
Personally, I think the style as shown here [https://github.com/alexk111/ngImgCrop] looks really good. Is there any way I could achieve those borders with your module?

[2016-10-13 10:38] rickerd commented on #46
I recenty changed the layout of the border.
It now has a look and feel of all major croppers or marquee selection tools.

The border and crop border is made from calculations and rendered as canvas.

Im not seeing it could be custom.

[2016-10-13 15:55] mOveoStudio opened #186 ""area-coords" not relative to raw image"
Hi there,
First, thanks for this plugin. You did a very good job. That's help me so much.

I wondered about getting the area crop coords relative to the original image model. Because when I use the attribute area-coords, it gives to me the crop zone coords.

For instance if I upload a 2000x2000 size image and ask for 150x150 cropped image, area-coords with _init-max-area="true"_ will give to me {"

[2016-10-13 15:57] rickerd commented on #186
I do it myself too and i use a time-out to do the magic

[2016-10-13 16:05] mrjeanjean commented on #186
Ok ! You're contributor so did you pull a request for this or just for your own usage?

[2016-10-13 16:58] rickerd commented on #186
No its just how the cropper works.
I wrote my own thing in a Angular Controller

[2016-10-13 21:04] mrjeanjean commented on #186
Thanks for your feedback.

[2016-10-13 21:04] #186 closed

[2016-10-20 06:23] tooba-ahmed-10p opened #187 "Doesn't work with webpack"
Not working in webpack. No index.js file provided also it looks for ng-img-crop-full-extended.js which actually is ng-img-crop.js

[2016-10-20 06:27] CrackerakiUA commented on #187
Search in the Issues, people have solved that issue.

[2016-10-20 06:27] #187 closed

[2016-10-20 10:32] decko commented on #170
I'm trying to use ngImgCrop with browserify but everytime I try to inject I got a "Unknown provider: ngImgCropProvider <- ngImgCrop"

[2016-10-20 10:33] rickerd commented on #170
I thought there was/is no provider.
I do think your DI is wrong.

[2016-10-20 11:42] RobbertWolfs opened #188 "New Repo?"
In the READ.ME the following is written.

We are going to move this lib to new repo. We will accept here Pull Requests until 16 October. After move we will leave this lib as it is, so on your projects it will work forever, just without updates, deprecated. 17 October you will have access to new repo.

Since it is already the 20th, what would be the new repo?

Thanks :)

[2016-10-20 12:22] CrackerakiUA commented on #188
Sorry for the delay, new repo is published, but not completed.
https://github.com/CrackerakiUA/ui-cropper
Probably tomorrow will fix everything.

[2016-10-20 12:25] RobbertWolfs commented on #188
No problem, thanks for the quick response.

Awesome! 💯
Probably going to need it as of tomorrow or even Monday so thats good 👍

[2016-10-20 12:25] #188 closed

[2016-10-23 19:46] bmwertman commented on #184
Have you had a chance to look into this?

[2016-10-25 20:07] j-walker23 opened #189 "New repo location?"
Hello, first time here. I read the important notes about moving to a new repo last week but i can't figure out where that is. Is it somewhere in the docs i missed?

Thanks!

[2016-10-25 20:19] rickerd commented on #189
Good one!
I've added it to the README.

https://github.com/CrackerakiUA/ui-cropper

[2016-10-25 20:19] #189 closed

[2016-10-25 22:12] j-walker23 commented on #189
Nice, thank you!

[2016-10-26 16:10] w3kp commented on #170
How do you compile your node modules? If you are using webpack there is a solution to this problem. I've notice that there is a problem on exporting/importing the ColorThief module on ng-img-crop module. I think the problem is that ColorThief rely on global variables like `$` or `this` being the `window` object. If you use webpack you can fix this by using the import loaders and add this to your w

[2016-10-26 16:13] rickerd commented on #170
The package is compiled with Gulp. It smashes all JavaScript together to a desired package.

I would like to hear about why we should use webpack. At a company where i work we also investegated Webpack

[2016-10-26 16:17] CrackerakiUA commented on #170
I have tried webpack, never liked it.

[2016-10-27 02:32] thierryskoda commented on #99
@zidein07 I had exactly the same problem haha! It should be written : USE `ng-show` in the README 😄

[2016-10-27 07:39] CrackerakiUA commented on #99
If you have issues with `ng-if` and `ng-show` start use objects. Example

[code]

[code]

and i believe you will never have that problem. Some people use controller as object which solve the issue also but it's ugly by my option. This all happens because `ng-if` create it's own scope, you can also see issue like that in the `ng-repeat` where object is solution also. `ng-if` is way better solution,

[2016-11-01 03:33] thierryskoda commented on #186
@rickerd Is it possible to have a preview of your solution ?

Thanks you!

[2016-11-03 09:08] sureshkoduri opened #190 "Multiple image sizes"
Hi, Is there anything possible to get multiple sizes in result image after cropping?

[2016-11-03 12:28] CrackerakiUA commented on #190
Yes, checkup options.

[2016-11-03 12:55] sureshkoduri commented on #190
Yah, I got it. Thanks @CrackerakiUA

[2016-11-03 15:44] #190 closed

[2016-11-06 17:53] gercheq commented on #78
@CrackerakiUA can you add me as well? gercek1

[2016-11-06 23:15] CrackerakiUA commented on #78
@gercheq we don't use trello anymore.

[2016-11-06 23:15] #78 closed

[2016-11-08 10:41] sdeprez commented on #183
I confirm the issue with IE11 (on windows 7), on [the same line](https://github.com/CrackerakiUA/ngImgCropFullExtended/blob/master/compile/unminified/ng-img-crop.js#L1722). Setting the response type _after_ opening the request seems to fix the issue. More informations on this problem:
http://stackoverflow.com/questions/20760635/why-does-setting-xmlhttprequest-responsetype-before-calling-open-throw

[2016-11-16 09:38] andrewmadridista commented on #42
I think, problem is in images! Can you look at the original image before cropping? Probably it have transparent line, what later, after cropping, became red, or white, or grey. Am i right?

[2016-11-16 22:53] mitomm commented on #184
I can confirm a similar issue. Not only can't I reduce the image size with the `result-image-quality` property, my final Image size is actually much bigger (900kb) than the initial image I upload (100kb).

Any help would be greatly appreciated.

[2016-11-17 22:43] mitomm commented on #45
Just in case anyone else is dealing with the same issue and still gets bigger results images (compared to the original one), make sure to use  `result-image-format=" 'image/jpeg' "` with an `'` around `image/jpeg`. I'm not sure what is really going on here, since the result image will be jpeg in both cases, however it will only work properly with the single quote  `'`  around `'image/jpeg'`.
Spend

[2016-11-24 13:01] diedona commented on #184
I updated to the ui-cropper and it worked. But i needed to pass it as a string:

`result-image-format="'image/jpeg'"`

ui-cropper: https://github.com/CrackerakiUA/ui-cropper

[2017-01-03 03:36] taint2310 commented on #145
I have same issue.

[2017-01-19 14:24] Fossil01 opened #192 "How do I use on-change?"
My cropped photo works and is written to $scope.croppedPhoto.

I can do:

[code]

Which works fine. But I need the final photo to sit in: `$scope.newCard.photo`

How can I update `$scope.newCard.photo` with `$scope.croppedPhoto` every time the cropped image changes?

I've tried: on-change="(dataURI)" and then added this function. But all I get in the console is `undefined` :

[code]

[2017-01-19 14:33] ghost commented on #192
So I had to go with $dataURI and not dataURI :-)

[2017-01-19 14:33] #192 closed

[2017-02-07 06:38] sanchig opened #193 "some images cropping doesn't work in Firefox but it's working in Chrome"
mostly all images upload and crop successfully but some kind of image doesn't upload & crop. image showing successfully in form but while I am going to select quare and crop that image I am getting bellow error in firefox console. but same image working chrome. Please give me suggestion and thanks in advance.

"This plugin is deprecated in the name of ui-cropper. You can find it under https://gith

[2017-02-07 06:51] CrackerakiUA commented on #193
Do you have this error with ui-cropper?

[2017-02-12 02:40] astw opened #194 "So the new repository is ui-cropper?"

[2017-02-12 06:14] CrackerakiUA commented on #194
yes

[2017-02-12 16:01] #194 closed

[2017-02-15 17:50] singhmohancs commented on #193
@CrackerakiUA
Getting the same warning.

<img width="949" alt="screen shot 2017-02-15 at 11 17 49 pm" src="https://cloud.githubusercontent.com/assets/283132/22987526/12969114-f3d5-11e6-9593-630cbd5e62cf.png">

<img width="656" alt="screen shot 2017-02-15 at 11 18 13 pm" src="https://cloud.githubusercontent.com/assets/283132/22987524/128d4cda-f3d5-11e6-8fc5-6044bbdeafe0.png">

<img width="1090" alt

[2017-02-15 18:20] CrackerakiUA commented on #193
i am not supporting this lib anymore, i have moved to ui-cropper. If you have issue with lib, you can add that bug into ui-cropper, if it's exists on that lib.

[2017-04-25 07:10] lidasong commented on #140
i get the same issue,the ng-if can solve the problem,but the issue is not existed always.do you have any other method to solve the issue ? waiting ....

[2017-08-08 05:16] jihin opened #195 "Cropping is working perfectly, but get blank space in image, i don't want that"
![download](https://user-images.githubusercontent.com/9817635/29057265-bb7d12d8-7c26-11e7-8441-8e9eaac148ce.png)

Like this, how to remove this, open image in new tab

[2017-08-08 05:54] CrackerakiUA commented on #195
this has been solved here: https://github.com/CrackerakiUA/ui-cropper

[2017-08-08 08:06] jihin commented on #195
same issue in `ui-cropper`

[code]

[code]

[2017-08-08 08:30] CrackerakiUA commented on #195
few days ago, one guy did PR which solve this, please search there.

[2017-08-08 09:06] jihin commented on #195
PR ?

[2017-08-08 09:30] CrackerakiUA commented on #195
pull request :)

[2017-08-08 09:37] jihin commented on #195
How to get that fixed version code ?

[2017-08-08 09:52] CrackerakiUA commented on #195
try latest version of ui-cropper

[2017-08-08 10:44] #195 closed

[2017-09-12 03:09] shenghou opened #196 "some issue about result image"
I cropped an  image and select rectangle , but there have some  background color when crop size is not matching result image size , someone knows how to remove background color.

[2017-09-12 06:05] CrackerakiUA commented on #196
This issue is fixed on the: https://github.com/CrackerakiUA/ui-cropper

[2017-09-12 08:11] ghost commented on #168
is this case fixed already? or maybe there is another way for this case?

[2017-09-12 08:33] rickerd commented on #168
This repo is dead. Move to the other updated project please.
https://github.com/CrackerakiUA/ui-cropper

[2017-09-12 08:33] #168 closed

[2017-09-12 08:33] #196 closed

[2017-09-12 08:34] rickerd commented on #193
This repo is dead.
Please move to the other project:
https://github.com/CrackerakiUA/ui-cropper

[2017-09-12 08:34] #193 closed

[2017-09-12 08:34] rickerd commented on #185
This repo is dead.
Please move to the other project:
https://github.com/CrackerakiUA/ui-cropper

[2017-09-12 08:34] #185 closed

[2017-09-12 08:34] rickerd commented on #184
This repo is dead.
Please move to the other project:
https://github.com/CrackerakiUA/ui-cropper

[2017-09-12 08:34] #184 closed

[2017-09-12 08:34] rickerd commented on #183
This repo is dead.
Please move to the other project:
https://github.com/CrackerakiUA/ui-cropper

[2017-09-12 08:34] #183 closed

[2017-09-12 08:34] #178 closed

[2017-09-12 08:34] rickerd commented on #180
This repo is dead.
Please move to the other project:
https://github.com/CrackerakiUA/ui-cropper

[2017-09-12 08:34] #180 closed

[2017-09-12 08:35] rickerd commented on #179
This repo is dead.
Please move to the other project:
https://github.com/CrackerakiUA/ui-cropper

[2017-09-12 08:35] #179 closed

[2017-09-12 08:35] rickerd commented on #177
This repo is dead.
Please move to the other project:
https://github.com/CrackerakiUA/ui-cropper

[2017-09-12 08:35] #177 closed

[2017-09-12 08:35] #176 closed

[2017-09-12 08:35] rickerd commented on #174
This repo is dead.
Please move to the other project:
https://github.com/CrackerakiUA/ui-cropper

[2017-09-12 08:35] #174 closed

[2017-09-12 08:35] rickerd commented on #171
This repo is dead.
Please move to the other project:
https://github.com/CrackerakiUA/ui-cropper

[2017-09-12 08:35] #171 closed

[2017-09-12 08:35] rickerd commented on #170
This repo is dead.
Please move to the other project:
https://github.com/CrackerakiUA/ui-cropper

[2017-09-12 08:35] #170 closed

[2017-09-12 08:35] rickerd commented on #145
This repo is dead.
Please move to the other project:
https://github.com/CrackerakiUA/ui-cropper

[2017-09-12 08:35] #145 closed

[2017-09-12 08:35] #144 closed

[2017-09-12 08:35] rickerd commented on #121
This repo is dead.
Please move to the other project:
https://github.com/CrackerakiUA/ui-cropper

[2017-09-12 08:35] #121 closed

[2017-09-12 08:35] #119 closed

[2017-09-12 08:35] #106 closed

[2017-09-12 08:35] rickerd commented on #93
This repo is dead.
Please move to the other project:
https://github.com/CrackerakiUA/ui-cropper

[2017-09-12 08:35] #93 closed

[2017-09-12 08:35] rickerd commented on #56
This repo is dead.
Please move to the other project:
https://github.com/CrackerakiUA/ui-cropper

[2017-09-12 08:35] #56 closed

[2017-09-12 08:35] rickerd commented on #48
This repo is dead.
Please move to the other project:
https://github.com/CrackerakiUA/ui-cropper

[2017-09-12 08:35] #48 closed

[2017-09-12 08:36] rickerd commented on #42
This repo is dead.
Please move to the other project:
https://github.com/CrackerakiUA/ui-cropper

[2017-09-12 08:36] #42 closed

[2017-09-12 08:36] rickerd commented on #40
This repo is dead.
Please move to the other project:
https://github.com/CrackerakiUA/ui-cropper

[2017-09-12 08:36] #40 closed

[2017-09-12 08:36] rickerd commented on #21
This repo is dead.
Please move to the other project:
https://github.com/CrackerakiUA/ui-cropper

[2017-09-12 08:36] #21 closed

[2017-11-10 00:21] DallanQ opened #197 "Ocassional NPE in ColorThief.prototype.getColor"
Every once in awhile, getPalette returns null, which causes palette[0] to throw an error.

    ColorThief.prototype.getColor = function(sourceImage, quality) {
        var palette = this.getPalette(sourceImage, 5, quality);
        var dominantColor = palette[0];
        return dominantColor;
    };

I've created an issue on lokesh/color-thief#131 but I thought you'd like to know. It looks like ge

[2017-11-10 00:42] CrackerakiUA commented on #197
I haven't seen that error before.

[2017-11-10 01:02] DallanQ commented on #197
It doesn't happen very often; maybe once a week. It could be related to a particular browser/OS combination, or maybe some weird way I'm using ngImgCropFullExtended; I don't know. But it looks like all you do with the result of getColor is set scope.dominantColor. You don't actually use scope.dominantColor, right?

[2017-11-10 07:36] CrackerakiUA commented on #197
i am not sure, i don't use that code before.

[2017-11-10 15:46] DallanQ commented on #197
Thanks. I've just hacked around it: var dominantColor = !!palette ? palette[0] : null; hopefully that will solve the issue I'm getting.

[2017-11-10 15:46] #197 closed

[2019-04-15 13:01] zedtux opened #198 "Webpack compatibility"
I'm migrating an app from bower to webpack, and I'm struggling on this lib.

I know it is no more maintained, and I have already checked the existing issue (especially the #104), but I'm trying the proposed solution, it doesn't work.

I'm opening this issue in order to build, with your help if you'd like, a working config that anyone coming with Webpack can use.

As of now, I have installed the [`

[2019-04-15 13:39] CrackerakiUA commented on #198
I don't have experience with webpack on the level to help you with this :(

[2019-04-16 04:04] zedtux commented on #198
Thank you @CrackerakiUA for your comment.

@ybian you seem to had a working webpack import. I tried your solution but didn't work for me. Do you have a working Webpack 4 way please?

[2019-04-16 13:33] zedtux commented on #198
@CrackerakiUA what are you using instead of Webpack?

[2019-04-16 13:57] CrackerakiUA commented on #198
In fact currently I am using Webpack with use of Angular 7, I am not longer working with Angular 1. When I was using Angular 1, I was simply working with it without Webpack

[2019-04-16 14:04] zedtux commented on #198
Well I'm using Webpack 4 as described in my issue so can you please help me ? :)

[2019-04-17 09:40] CrackerakiUA commented on #198
I have like 0 experience with it, Angular 7 all config for that

[2019-04-17 09:42] zedtux commented on #198
I see, thank you.

[2020-06-02 13:33] Samerkassem commented on #104
I am working on a old project, and I couldn't figure out a way to do this with the new webpack.

Here's my config:

[code]

@CrackerakiUA  got any idea? What's the other way?

[2020-06-02 13:58] CrackerakiUA commented on #104
I am not working with that tech, so sorry, I can't help with that :(

[2020-07-24 07:45] Vigneshpdev opened #199 "images upload sideways"
Normally i am the selecting the image ,then using this plugin croping and uploaded its working fine.  for some images while selecting the image it display sideway eg(potrait will be displaying in landscape) this is caused during croping preview  due this plugin.

Any solution.

[2020-07-24 07:49] CrackerakiUA commented on #199
I have seen such issues before, we been fixing it on back-end
You can also implement rotate feature, which will fix also your case

[2020-07-24 14:48] Vigneshpdev commented on #199
In my system image save as in potrait , when i am selecting image it goes to this plugin then display in crop screen with landscape, when i am
![first rotate](https://user-images.githubusercontent.com/68157498/88403917-c6d34f80-cdea-11ea-8893-f497b0205f66.png)
![no rotate](https://user-images.githubusercontent.com/68157498/88403923-c935a980-cdea-11ea-8e6a-ab3c70e4d6b9.png)

 rotate . first rotate